@charset "utf-8";

// =========================================================
// 各ページごとの指定用
// =========================================================




/* 60　ページ
========================================================= */

/* 50　セクション
----------------------------------------------- */

/* 40　パーツ
------------------------------------- */

//ロゴ

/* 全ページ共通
========================================================= */
/* タイトル title
----------------------------------------------- */
// page title
.page-tit-01{
    position: relative;
	overflow: hidden;
	min-height: 180px;
	background: url(../img/logistics/banner_s.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
    align-items: center;
    @include sq{
        min-height: 420px;
        background: url(../img/logistics/banner.jpg) no-repeat;
	    background-size: cover;
    }
    &.warehouse{
        background: url(../img/logistics/warehouse/banner_s.jpg) no-repeat;
	    background-size: cover;
        @include sq{
            background: url(../img/logistics/warehouse/banner.jpg) no-repeat;
	        background-size: cover;
        }
    }
    &.hazardous{
        background: url(../img/logistics/hazardous/banner_s.jpg) no-repeat;
	    background-size: cover;
        @include sq{
            background: url(../img/logistics/hazardous/banner.jpg) no-repeat;
	        background-size: cover;
        }
    }
    &.processing{
        background: url(../img/logistics/processing/banner_s.jpg) no-repeat;
	    background-size: cover;
        @include sq{
            background: url(../img/logistics/processing/banner.jpg) no-repeat;
	        background-size: cover;
        }
    }
    &.taransport{
        background: url(../img/logistics/taransport/banner_s.jpg) no-repeat;
	    background-size: cover;
        @include sq{
            background: url(../img/logistics/taransport/banner.jpg) no-repeat;
	        background-size: cover;
        }
    }
    &.base{
        background: url(../img/logistics/base/banner_s.jpg) no-repeat;
	    background-size: cover;
        @include sq{
            background: url(../img/logistics/base/banner.jpg) no-repeat;
	        background-size: cover;
        }
    }
    &.echigawa{
        background: url(../img//logistics/base/echigawa/banner_s.jpg) no-repeat;
	    background-size: cover;
        @include sq{
            background: url(../img//logistics/base/echigawa/banner.jpg) no-repeat;
	        background-size: cover;
        }
    }
    &.gokasho{
        background: url(../img/logistics/base/gokasho/banner_s.jpg) no-repeat;
	    background-size: cover;
        @include sq{
            background: url(../img/logistics/base/gokasho/banner.jpg) no-repeat;
	        background-size: cover;
        }
    }
    &.otsu{
        background: url(../img/logistics/base/otsu/banner_s.jpg) no-repeat;
	    background-size: cover;
        @include sq{
            background: url(../img/logistics/base/otsu/banner.jpg) no-repeat;
	        background-size: cover;
        }
    }
	h1{
		@include font(36);
		letter-spacing: 2.2px;
		text-transform: uppercase;
		font-weight: 500;
		color: $color-02;
        text-align: center;
        padding-top: 25px;
        @include avenir;
        @include sq{
            @include font(45);
        }
	}
	small{
        border-top: 1px solid $color-02;
		@include font(15);
		margin-top: 5px;
        display: block;
        font-weight: bold;
        font-family: $font-family-02;
        padding: 15px 20px 0;
        width: 100%;
        margin-left: -20px;
        @include sq{
            @include font(17);
        }
    }
}

.page-tit-02{
    margin: 50px auto;
    @include sq{
        margin: 102px auto;
    }
    h2{
        @include font(26);
        color: $color-01;
        font-weight: normal;
        line-height: 1.72;
        margin-bottom: 0;
        text-align: center;
        @include sq{
            @include font(32);
        }
    }
    p{
        @include font(14);
        color: $color-text-01;
        font-weight: normal;
        line-height: 1.9;
        padding-top: 30px;
        margin: 0;
        text-align: left;
        @include sq{
            @include font(15);
        }
    }
}

.page-tit-03{
    border-bottom: 2px solid #DCDCDC;
    padding-bottom: 28px;
    position: relative;
    margin-bottom: 10px;
    &:after{
        content: "";
        position: absolute;
        width: 62.5%;
        height: 2px;
        background-color: $color-01;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }
    h3{
        color: $color-01;
        text-align: center;
        margin: 0;
        @include font(26);
        font-weight: 500;
    }
}

.page-tit-04{
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 22px;
    position: relative;
    margin: 40px 0;
    &:after{
        content: "";
        position: absolute;
        width: 100px;
        height: 2px;
        background-color: $color-01;
        bottom: -2px;
        left: 0;
    }
    h4{
        color: $color-text-01;
        margin: 0;
        @include font(20);
        font-weight: bold;
    }
}

/* リンク
----------------------------------------------- */
.com-btn-01 {
	width: 80px;
	height: 26px;
	border: 1px solid $color-01;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: $color-01;
	@include font(13);
	margin-right: 12px;
    text-transform: capitalize;
    box-sizing: border-box;
    padding-top: 4px;
    font-weight: bold;
    letter-spacing: 0;
    @include smq{
        @include font(15);
        width: 135px;
	    height: 34px;
    }
	@include sq{
        width: 100px;
	    height: 34px;
        @include font(16);
	}
	@include sq{
		width: 128px;
	}
}

/* com-btn-email
----------------------------------------------- */
.com-btn-email {
	background-color: $color-01;
	color: $color-02 !important;
	display: block;
	@include font(18);
	font-weight: 700;
	width: 160px;
	text-align: center;
	box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 22px;
	padding: 30px 28px 24px !important;
	@include lq{
		width: 220px;
	}
	small{
		align-self: center !important;
	}
	span{
		letter-spacing: 2px;
		&:after{
			color: $color-02 !important;
		}
	}
	&:hover{
		color: $color-02;
		opacity: 0.7;
	}
}

/* テキスト text
----------------------------------------------- */
.com-text-01 {
	@include font(14);
	font-weight: normal;
    color: $color-text-01;
    line-height: 1.7;
}

.com-text-02{
    @include font(29);
	font-weight: normal;
    color: $color-text-01;
    line-height: 1.7;
    text-align: center;
    @include sq{
        @include font(32);
    }
}

.com-text-03 {
	@include font(13);
	font-weight: normal;
    color: $color-text-01;
    line-height: 1.9;
    padding-top: 15px;
    @include sq{
        @include font(15);
        padding-top: 28px;
    }
}

/* com-link-01
----------------------------------------------- */
.com-link-01{
	@include font(16);
	color: $color-text-01;
	position: relative;
	line-height: 1.5;
    font-weight: normal;
    padding-right: 16px;
    @include mq{
        @include font(19);
    }
	&:after{
		position: absolute;
        content: "\f105";
        font-family: "FontAwesome";
        font-weight: normal;
        top: 7.7px;
        right: 0;
        @include font(20);
        color: $color-01;
        @include mq{
            top: 7.5px;
            @include font(23);
        }
    }
    &-mod{
        width: 162px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        border: 1px solid #DCDCDC;
        display: block;
        @include font(13);
        color: $color-01;
        background-color: $color-02;
        margin-top: 30px;
        &:after{
            top: 0;
            right: 22px;
        }
        @include sq{
            @include font(15);
        }
    }
}

.com-link-02{
    padding-top: 35px;
    li{
        margin: 0 4px;
        img{
            width: 100%;
            @include sq{
                width: auto;
            }
        }
    }
}

/* リスト list
----------------------------------------------- */
//　使ってない適当に変更宜しく※変更後はコメントアウト変更してね It is OK to change
// com-list-tit
.com-list-tit{
    color: $color-01;
    text-align: center;
    @include font(18);
    @include avenir;
    margin-top: 26px;
    margin-bottom: 0;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    @include smq{
        @include font(22);
    }
    @include mq{
        letter-spacing: 2.8px;
        @include font(27);
    }
    &:after{
        position: absolute;
        content: "\f105";
        font-family: "FontAwesome";
        font-weight: normal;
        color: $color-01;
        right: -15px;
        top: -3px;
        @include font(20);
        @include smq{
            @include font(26);
        }
        @include mq{
            @include font(30);
            top: -5px;
            right: -26px;
        }
    }
    span{
        display: block;
        @include font(14);
        font-family: $font-family-02;
        font-weight: bold;
        color: $color-text-01;
        margin-top: 7px;
    }
}
.com-list-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
// com-list-01
.com-list-01{
    li{
        text-align: center;
        width: 48%;
        margin-bottom: 35px;
        position: relative;
        @include sq{
            width: 32%;
            margin-bottom: 50px;
        }
        @include mq{
            margin-bottom: 83px;
            width: 29.6%;
        }
    }
    span{
        display: block;
        @include font(11);
        font-family: $font-family-02;
        font-weight: bold;
        color: $color-text-01;
        margin-top: 3px;
        @include smq{
            @include font(12);
        }
        @include mq{
            @include font(14);
        }
    }
    .com-list-txt{
        @include font(12);
        font-weight: normal;
        color: $color-text-01;
        line-height: 1.9;
        padding-top: 10px;
        text-align: left;
        @include smq{
            padding-top: 20px;
            @include font(14);
        }
        @include mq{
            @include font(15);
        }     
    }
    figure {
        position: relative;
        padding-bottom: 65%;
        img{
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
}

// com-list-01
.com-list-02{
    justify-content: space-between;
    max-width: 1160px;
    margin: 13px auto 16px;
    @include lq{
        justify-content: flex-start;
    }
    li{
        display: flex;
        border: 1px solid #D2D3D3;
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
        position: relative;
        @include sq{
            margin-bottom: 33px;
            width: 48%;
        }
        @include mq{
            margin-right: 10px;
            width: 32.3%;
        }
        @include lq{
            margin-right: 33px;
            width: 22.66%;
        }
        &:nth-child(3n){
            margin-right: 0;
            @include lq{
                margin-right: 33px;
            }
        }
        &:nth-child(4n){
            margin-right: 0;
            @include mq{
                margin-right: 10px;
            }
            @include lq{
                margin-right: 0;
            }
        }
    }
    figure {
        min-width: 96px;
        height: 94px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .com-list-tit{
        margin: 0;
        padding: 38px 0 0 9px;
        text-align: left;
        letter-spacing: 0;
        line-height: 0.4;
        font-weight: 500;
        display: block;
        width: 100%;
        @include font(20);
        &:after{
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
        span{
            line-height: 1.6;
            @include font(11);
            font-weight: 500;
        }
    }
}

.com-list-03{
    li{
        display: block;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 50px;;
        @include sq{
            margin-bottom: 0;
            display: flex;
            margin-top: 40px;
        }
        & > div{
            width: 100%;
            @include sq{
                width: 70%;
            }
            h4{
                @include font(18);
                color: $color-01;
                font-weight: bold;
                margin: 25px 0 20px;
                @include sq{
                    margin: 0 0 22px;
                    @include font(20);
                }
                @include mq{
                    margin: 27px 0 22px;
                }
            }
            p{
                @include font(12);
                color: $color-text-01;
                font-weight: normal;
                line-height: 1.9;
                @include sq{
                    @include font(15);
                }
            }
        }
    }
    figure{
        width: 100%;
        margin-right: 30px;
        @include sq{
            min-width: 268px;
            width: 268px;
        }
        img{
            width: 100%;
        }
    }
}

/*
------------------------------------------------------------*/
.info-list-01{
    margin: 40px 0;
    li{
        border-top: 1px dotted #D2D3D3;
        @include font(12);
        color: $color-text-01;
        font-weight: normal;
        display: flex;
        padding: 11px 0;
        line-height: 26px;
        @include sq{
            @include font(15);
        }
        &:last-child{
            border-bottom: 1px dotted #D2D3D3;
        }
    }
    span{
        display: inline-block;
        width: 180px;
        min-width: 180px;
        text-align: left;
        color: $color-01;
        @include font(12);
        height: 20px;
        line-height: 20px;
        line-height: 26px;
        box-sizing: border-box;
        @include sq{
            padding-left: 15px;
            @include font(15);
        }
    }
}



/* トップページ
========================================================= */
/* keyvisual
----------------------------------------------- */
.l-keyvisual{
    position: relative;
}
.custom-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center;
  img {
    opacity: 0;
  }
}
#keyvisual {
    position: relative;
	background: #F8F8F8;
    overflow: hidden;
	.catch-wrapper {
		position: absolute;
		left: 1%;
		right: 0;
		bottom: auto;
        top: 142px;
        @include sq{
            top: 224px;
        }
	}
	.slider figure {
		position: relative;
        overflow: hidden;
		img{
            height: 100vh;
            width: 100%;
            object-fit: cover;
		}
	}
	.catch {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
        width: 100%;
        small{
            @include font(11);
			color: $color-02;
            line-height: 1.5;
            display: block;
            letter-spacing: -0.2px;
            @include sq{
                padding-left: 3px;
                letter-spacing: -0.2px;
                @include font(18);
            }
        }
		h2{
			@include font(46);
			color: $color-02;
			line-height: 1.4;
            font-weight: normal;
            margin: 0;
            @include smq{
				@include font(53);
			}
			@include sq{
				@include font(75);
			}
		}
		p{
			@include font(11);
			color: $color-02;
			line-height: 1.5;
            font-weight: 500;
            padding-top: 0;
			@include sq{
                padding-top: 7px;
                @include font(18);
			}
		}
	}
}

/* 共通パーツ
----------------------------------------------- */
/* タイトル
-------------------------------------- */
/* テキスト
-------------------------------------- */
/* リンク・ボタン
-------------------------------------- */
/* パネル
-------------------------------------- */
#keyvisual-scroll{
    background-color: $color-02;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.l-scroll{
    display: block;
    @include mq{
        display: flex;
    }
}
.com-btn-scroll {
    width: 100%;
    height: 48px;
    min-width: auto;
    background-color: $color-text-01;
    color: $color-02;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1;
    @include font(13);
    padding-top: 8px;
    box-sizing: border-box;
    font-family: "Hiragino Kaku Gothic Pro";
    @include sq{
        @include font(15);
        height: 80px;
    }
    @include mq{
        width: 133px;
        height: 133px;
        min-width: 133px;
    }
    &:after{
        content: "\f107";
        font-family: "FontAwesome";
        font-weight: normal;
        @include font(25);
        color: $color-02;
        display: block;
        line-height: 0.8;
        @include sq{
            @include font(50);
        }
    }
    &:hover{
        color: $color-02;
    }
}

// home-nav-01
.home-nav-01{
    margin: 20px 0;
    position: absolute;
    bottom: 54px;
    left: 0;
    display: block;
    width: 100%;
    @include sq{
        align-items: inherit;
        margin: 0;
        display: flex;
        position: static;
    }
    @include mq{
        align-items: center;
        width: 91.6875%;
    }
    li{
        display: flex;
        border-right: 0;
        padding: 5px 15px;
        background: rgba($color: #000, $alpha: .5);
        margin-top: 14px;
        width: 50%;
        min-width: 175px;
        @include sq{
            margin-top: 10px;
            padding: 0 10px;
            background: $color-02;
            width: 33%;
            border-right: 1px solid #707070;
        }
        @include mq{
            align-items: center;
            justify-content: center;
            min-height: 84px;
        }
        &:last-child{
            width: 50%;
            @include sq{
                width: 32%;
                border-right: 0;
            }
        }
        & > div{
            padding-left: 30px;
            @include sq{
                padding-left: 40px;
            }
        }
    }
    h2{
        @include font(13);
        color: $color-02;
        line-height: 1.3;
        margin: 0;
        font-weight: normal;
        margin-top: 0;
        position: relative;
        display: inline-block;
        @include sq{
            @include font(19);
            margin-top: 3px;
            color: $color-text-01;
        }
        @include lq{
            @include font(24);
        }
        img{
            position: absolute;
            top: 1px;
            left: -23px;
            @include sq{
                left: -42px;
                top: 0;
                margin-top: 4px;
            }
        }
	}
    p{
        @include font(12);
        color: $color-text-01;
        font-weight: normal;
        line-height: 2;
        @include mq{
            @include font(13);
        }
    }
}

// home title
.home-tit-01 {
	position: relative;
	overflow: hidden;
	min-height: 416px;
	background: url(../img/home/banner_s.jpg) no-repeat center;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
    align-items: center;
    box-sizing: border-box;
    @include sq{
        background: url(../img/home/banner.jpg) no-repeat center;
	    background-size: cover;
    }
	h2{
		@include font(39);
		letter-spacing: 1px;
		text-transform: uppercase;
		font-weight: 500;
		color: $color-02;
        text-align: center;
        padding-top: 25px;
        @include avenir;
	}
	span{
		@include font(15);
		margin-top: 5px;
        display: block;
        font-family: "Noto Sans JP";
        font-weight: 500;
    }
    
    &.home-03-tit{
        background: url(../img/home/banner01_s.jpg) no-repeat;
        background-size: cover;
        padding-top: 45px;
        @include sq{
            background: url(../img/home/banner01.jpg) no-repeat center;
            background-size: cover;
        }
        h2{
            color: $color-text-01;
        }
        p{
            color: $color-01;
            display: inline-block;
        }
    }
}

.home-tit-02{
    font-weight: normal;
    line-height: 1.4;
    color: $color-text-01;
    letter-spacing: 0.3px;
    @include font(39);
    text-align: center;
    @include avenir;
    span{
        color: $color-01;
    }
    small{
        display: block;
        font-weight: 500;
        line-height: 1.4;
        color: $color-text-01;
        @include font(15);
        font-family: "Noto Sans JP";
    }
}

// home-text-01
.home-text-01{
    display: block;
    padding: 53px 0 30px;
    @include sq{
        padding: 67px 0 51px;
        display: flex;
    }
    h3{
        @include font(29);
        color: $color-text-01;
        font-weight: normal;
        line-height: 1.73;
        width: auto;
        @include sq{
            @include font(32);
            width: 51.5%;
        }
    }
    p{
        @include font(15);
        color: $color-text-01;
        font-weight: normal;
        line-height: 1.8;
        padding-top: 0;
        width: auto;
        @include sq{
            padding-top: 32px;
            width: 51.5%;
        }
    }
}

// home-nav-list
.home-nav-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -3%;
    @include sq{
        margin: 0 auto;
        flex-wrap: inherit;
    }
    li{
        margin-right: 0;
        overflow: hidden;
        width: 50%;
        margin-bottom: 15px;
        position: relative;
        @include sq{
            margin-bottom: 0;
            margin-right: 8px;
            width: 24.4%;
        }
        &:nth-child(4n){
            margin-right: 0;
        }
    }
    figure{
        width: 100%;
        padding-bottom: 71%;
        position: relative;
        overflow: hidden;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
    h4, h3{
        margin: 0;
    }
    .home-nav-link{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
    .com-link-01{
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 6px;
        padding-left: 15px;
        @include sq{
            padding-left: 0;
        }
    }
    p{
        display: none;
        color: $color-text-01;
        font-weight: normal;
        line-height: 2.1;
        @include font(13);
        padding-left: 15px;
        @include mq{
            padding-left: 0;
            display: block;
        }
    }

    // home-01
    &.home-01-list{
        padding-top: 5px;
        width: 100%;
        flex-wrap: inherit;
        display: block;
        margin: 0 auto;
        @include sq{
            display: flex;
            width: 60%;
        }
        figure {
            padding-bottom: 41.5%;
            @include sq{
                padding-bottom: 71%;
            }
        }
        .com-link-01{
            padding-top: 9px;
            padding-bottom: 0;
            color: $color-02;
            @include font(16);
            padding-left: 0;
            @include mq{
                padding-top: 14px;
                padding-bottom: 5px;
                @include font(19);
            }
            &:after{
                color: $color-02;
                top: 7px;
                @include mq{
                    top: 11px;
                }
            }
            a{
                color: $color-02;
            }
        }
        li{
            width: 100%;
            margin-bottom: 40px;
            @include sq{
                margin-bottom: 0;
                width: 33%;
            }
            &:last-child{
                margin-right: 0;
            }
        }
        p{
            color: $color-02;
            display: block;
            line-height: 1.8;
            margin-bottom: 8px;
            padding-left: 0;
            @include mq{
                margin-bottom: 10px;
                line-height: 2.1;
                display: block;
            }
        }
        .home-tag{
            @include font(10);
            font-weight: normal;
            color: $color-02;
            background-color:#427E98;
            line-height: 1;
            display: inline-block;
            padding: 4px 0;
            width: 68px;
            text-align: center;
            margin-top: 6px;
            margin-right: 3px;
            @include sq{
                margin-right: 0;
                padding: 3.9px 4.5px;
                width: 60px;
            }
        }
    }

    // home-02
    &.home-02-list{
        margin-top: 34px;
        flex-wrap: wrap;
        @include sq{
            margin-top: 46px;
        }
        figure{
            padding-bottom: 60.5%;
        }
        h3{
            margin: 0;
        }
        .com-link-01{
            padding-top: 4px;
            padding-bottom: 0;
            @include sq{
                padding-top: 17px;
                padding-bottom: 7px;
            }
            &:after{
                top: 1px;
                @include sq{
                    top: 15px;
                }
            }
        }
        li{
            margin-bottom: 13px;
            width: 50%;
            @include sq{
                margin-bottom: 28px;
                width: 32.4%;
            }
            @include mq{
                width: 32.5%;
            }
            @include lq{
                width: 32.8%;
            }
            &:nth-child(3n){
                margin-right: 0;
            }
            &:nth-child(4n){
                margin-right: 0;
                @include sq{
                    margin-right: 8px;
                }
            }
        }
    }

    // home-03
    &.home-03-list{
        margin-top: 0;
        flex-wrap: wrap;
        @include sq{
            margin-top: 22px;
        }
        li{
            width: 50%;
            margin-bottom: 7px;
            @include sq{
                margin-bottom: 20px;
                width: 23.8%;
            }
            @include mq{
                width: 19.3%;
            }
            &:nth-child(4n){
                margin-right: 0;
                @include mq{
                    margin-right: 8px;
                }
            }
            &:nth-child(5n){
                margin-right: 0;
            }
        }
        .com-link-01{
            padding-top: 5px;
            @include sq{
                padding-top: 20px;
            }
            &:after{
                top: 2px;
                @include sq{
                    top: 18px;
                }
            }
        }
        figure{
            padding-bottom: 71%;
        }
    }
}

// home-text-nav
.home-text-nav{
    display: block;
    @include sq{
        display: flex;
    }
}

//home-text-left
.home-text-left{
    width: 100%;
    margin-right: 2%;
    @include sq{
        width: 38%;
    }
    small{
        @include font(21);
        font-weight: normal;
        color: $color-02;
        display: block;
        padding-bottom: 9px;
        line-height: 1.8;
        @include avenir;
        @include sq{
            padding-bottom: 27px;
        }
    }
    h3{
        @include font(25);
        font-weight: normal;
        color: $color-02;
        line-height: 1.8;
        margin-bottom: 20px;
        @include sq{
            @include font(21);
        }
        @include mq{
            @include font(26);
        }
    }
    p{
        @include font(15);
        font-weight: normal;
        color: $color-02;
        line-height: 2;
        padding-bottom: 20px;
        @include sq{
            padding-bottom: 0;
            @include font(13);
        }
        @include mq{
            @include font(15);
        }
    }
}

//com-info-01
.com-info-01{
    max-width: 870px;
    margin: 28px auto 15px;
    box-sizing: content-box;
	padding: 0 3%;
	@include mq{
		padding: 0 10px;
	}
    article.infoItem{
        display: flex;
		align-items: flex-start;
        padding: 7px 0 13px;
        flex-wrap: wrap;
        @include smq{
            padding: 7px 0 11px;
            flex-wrap: inherit;
        }
        p{
            @include font(14);
            font-weight: normal;
            color: $color-text-01;
            letter-spacing: 1px;
            line-height: 26px;
            margin-top: -3px;
        }
        span{
            line-height: 1;
            background-color: #808080;
            width: 75px;
            min-width: 75px;
            height: 21px;
            display: inline-block;
            text-align: center;
            line-height: 21px;
            @include font(12);
            font-weight: 500;
            color: $color-02;
            margin: 0 14px 0 7px;
            letter-spacing: -2px;
            margin-top: 2px;
            @include smq{
                margin: 0 14px 0 22px;
            }
        }
    }
}

//com-info-link
.com-info-link{
	position: relative;
	@include font(15);
	font-weight: normal;
	color: $color-text-01;
    line-height: 32px;
    padding-left: 15px;
    margin-top: 3px;
    @include smq{
        margin-top: -3px;
        line-height: 26px;
    }
	&:before{
		color: #EF0C0C;
		font-weight: normal;
		padding-left: 5px;
		font-family: "FontAwesome";
		content: '\f105';
		position: absolute;
		top: 0;
		left: -3px;
		@include font(18);
	}
}

/* HOME PAGE
----------------------------------------------- */
/* home-01
-------------------------------------- */
#home-01{
    margin-top: 0;
    @include sq{
        margin-top: 60px;
    }
}
#home-01-textnav{
    background-color: $color-01;
    padding: 53px 0 20px;
    margin-top: 53px;
    @include sq{
        padding: 60px 0 55px;
    }
}

/* home-02
-------------------------------------- */
#home-02{
    background-color: #F6F8F9;
    padding: 56px 0 48px;
    @include sq{
        padding: 64px 0 48px;
    }
    .home-tit-02{
        margin-bottom: 48px;
        @include sq{
            margin-bottom: 26px;
        }
    }
}

//home-04-link
.home-04-link{
    text-align: center;
    .com-link-01{
        @include font(17);
        font-weight: 500;
        @include avenir;
        &:after{
            @include font(17);
            right: 5px;
            top: 0;
        }
    }
}

/* home-04
-------------------------------------- */
#home-04{
    background-color: #F6F8F9;
    padding: 62px 0 65px;
    margin-top: 50px;
    @include mq{
        margin-top: 70px;
    }
}
/* /#HOME PAGE
----------------------------------------------- */

/* logistics Page
----------------------------------------------- */
#logistics-01{}
/* /#logistics Page
----------------------------------------------- */


/* component image
----------------------------------------------- */
.com-figure-01{
    text-align: center;
    margin: 45px 0;
    @include sq{
        margin: 100px 0;
    }
    img{
        width: 100%;
    }
}

.com-figure-02{
    text-align: center;
    padding: 40px 0 20px;
    img{
        width: 100%;
    }
}

/* Warehouse Page
----------------------------------------------- */
// warehouse-01
#warehouse-01{
    .page-tit-02{
        margin: 0;
        padding: 45px 0 0;
        @include sq{
            padding: 97px 10px 0;
        }
    }
    .page-tit-02:nth-child(2){
        padding: 50px 3% 0;
        @include sq{
            padding-top: 89px;
        }
        p{
            padding-top: 28px;
            line-height: 1.8;
        }
    }
}

//warehouse-navi-02
.warehouse-navi-02{
    li{
        width: 104px;
        height: 38px;
        background-color: #EBEFF1;
        line-height: 38px;
        @include font(15);
        text-align: center;
        color: $color-01;
    }
}

//warehouse-02
#warehouse-02{}

//warehouse-03
#warehouse-03{
    background-color: #F6F8F9;
    padding: 30px 0;
    margin-top: 45px;
    @include sq{
        padding: 58px 0;
        margin-top: 105px;
    }
    .page-tit-04{
        margin: 30px 0 11px;
        @include sq{
            margin: 56px 0 11px;
        }
    }
    .com-figure-02{
        padding: 30px 0 4px;
        @include sq{
            padding: 58px 0 4px;
        }
    }
}

//warehouse-04
#warehouse-04{
    padding: 20px 0 40px;
    @include sq{
        padding: 20px 0 100px;
    }
}
/* /#Warehouse Page
----------------------------------------------- */

//com-text-04
.com-text-04{
    background-color: #EBEFF1;
    margin: 34px 0 0;
    padding: 22px 20px 30px;
    h3{
        @include font(15);
        color: $color-text-01;
        font-weight: normal;
    }
    p{
        @include font(13);
        color: $color-text-01;
        font-weight: normal;
    }
}

/* Hazardous Page
----------------------------------------------- */
#hazardous-01{
    .page-tit-02{
        margin-bottom: 45px;
        @include sq{
            margin-bottom: 91px;
        }
    }
    .com-figure-02{
        padding: 0;
        margin-bottom: 50px;
        @include sq{
            margin-bottom: 100px;
        }
    }
    .page-tit-04{
        margin: 49px 0 10px;
    }
}

#hazardous-02{
    background-color: #F6F8F9;
    padding: 0 0 50px;
    margin: 50px 0 60px;
    @include sq{
        padding: 24px 0 65px;
        margin: 62px 0 98px
    }
    .page-tit-03{
        margin-top: 30px;
        padding-bottom: 28px;
        position: relative;
        margin-bottom: 16px;
        @include sq{
            margin-top: 81px;
        }
    }
    .com-text-03{
        padding-top: 0;
        padding-bottom: 15px;
        @include sq{
            padding-bottom: 30px;
        }
    }
    .com-text-04{
        margin: 6px 0 0;
        img{
            margin: 30px 15px 10px;
        }
    }
}
/* /#Hazardous Page
----------------------------------------------- */

/* Processing Page
----------------------------------------------- */
#processing-01{
    .com-figure-02{
        padding: 0;
        @include sq{
            padding: 40px 0 20px;
        } 
    }
    .page-tit-03{
        margin-top: 45px;
        @include sq{
            margin-top: 80px;
        }
    }
    .com-text-03{
        padding-top: 17px;
    }
    .com-text-04{
        display: flex;
        align-items: center;
        padding: 20px;
        margin-top: 40px;
        display: block;
        margin-bottom: 30px;
        @include sq{
            margin-bottom: 0;
            padding: 22px 20px 20px;
            display: flex;
        }
        h3{
            margin: 0;
            @include font(17);
            color: $color-01;
            font-weight: normal;
            margin: 0 0 15px 0;
            @include sq{
                margin: 0 55px 0 22px;
            }
        }
        p{
            @include font(13);
            color: $color-text-01;
            font-weight: normal;
            line-height: 1.8;
            @include sq{
                @include font(15);
            }
        }
    }
}

// com-processing02-item
.com-processing02-item{
    padding-top: 20px;
    height: auto;
    @include sq{
        padding-top: 35px;
        height: 100px;
    }
    h4{
        @include font(15);
        color: $color-01;
        font-weight: normal;
        margin-bottom: 12px;
        @include sq{
            @include font(17);
        }
    }
    p{
        @include font(13);
        color: $color-text-01;
        font-weight: normal;
        padding-left: 20px;
        @include sq{
            @include font(15);
        }
    }
}

.l-processing-02{
    display: block;
    justify-content: space-between;
    @include sq{
        display: flex;
    }
    .processing-02-left, .processing-02-right{
        width: auto;
        @include sq{
            width: 48%;
        }
    }
}
#processing-02{
    margin-top: 60px;
    background-color: #F6F8F9;
    padding: 30px 0;
    @include sq{
        padding: 68px 0;
    }
}

#processing-03{
    margin: 68px 0 100px;
    @include sq{

    }
}
/* /#Processing Page
----------------------------------------------- */

/* Taransport Page
----------------------------------------------- */
#taransport-01{
    .page-tit-02{
        margin: 50px auto 10px;
        @include sq{
            margin: 102px auto 53px;
        }
    }
    .page-tit-03{
        margin-top: 45px;
        @include sq{
            margin-top: 80px;
        }
    }
}
#taransport-02{
    margin-top: 45px;
    background-color: #F6F8F9;
    padding: 30px 0;
    @include sq{
        margin-top: 60px;
        padding: 68px 0;
    }
    .com-figure-02 {
        padding: 40px 0 10px;
    }
    .page-tit-04{
        margin: 55px 0 11px;
    }
}

#taransport-03{
    margin: 30px 0;
    @include sq{
        margin: 66px 0;
    }
    .com-text-04 {
        padding: 22px 20px 52px;
        margin-top: 30px;
        @include sq{
            margin: 62px 0 0;
        }
    }
}
#taransport-04{
    margin: 60px 0;
    @include sq{
        margin: 120px 0 88px;
    }
}

#taransport-05{
    background-color: #F6F8F9;
    padding: 30px 0;
    margin-bottom: 100px;
    @include sq{
        margin-top: 60px;
        padding: 70px 0 32px;
    }
    .page-tit-04{
        margin: 30px 0 24px;
        @include sq{
            margin: 76px 0 24px;
        }
    }
    .color-01{
        @include font(15);
        font-weight: normal;
        color: $color-01;
        border-bottom: 1px solid #A9A9A9;
        padding-bottom: 30px;
        @include sq{
            padding-bottom: 48px;
            @include font(19);
        }
    }
}
#sub-contact01{
    display: block;
    padding: 40px 40px 25px;
    background-color: $color-02;
    margin: 50px 0;
    @include sq{
        display: flex;
    }
    & > div{
        width: auto;
        box-sizing: border-box;
        @include sq{
            width: 50%;
        }
        &:last-child{
            border-left: 0;
            padding-left: 0;
            @include sq{
                border-left: 1px solid #A9A9A9;
                padding-left: 40px;
            }
        }
    }
    .sub-contact01-text{
        @include font(15);
        color: $color-text-01;
        font-weight: normal;
    }
    .tel01{
        @include font(43);
        color: $color-01;
        @include avenir;
        font-weight: 500;
        letter-spacing: -1.2px;
    }
    .email01{
        @include font(19);
        color: $color-text-01;
        font-weight: normal;
        padding-top: 11px;
    }
}
/* /#Taransport Page
----------------------------------------------- */

/* Base-page
----------------------------------------------- */

.base-01-link{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq{
        margin-top: 35px;
        justify-content: flex-start;
        flex-wrap: inherit;
    }
    li{
        width: 48%;
        margin-right: 0;
        margin-bottom: 10px;
        @include sq{
            margin-right: 10px;
            width: 28%;
        }
        @include mq{
            width: 23%;
            margin-right: 11.3px;
        }
    }
    a{
        width: 100%;
        height: 30px;
        display: flex;
        @include font(12);
        font-weight: normal;
        color: $color-02;
        background-color: $color-01;
        justify-content: center;
        align-items: center;
    }
    li:last-child{
        margin-right: 0;
    }
}

.base-01-map{
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    @include sq{
        display: flex;
    }
    .base-01-map-img{
        margin-right: 0;
        width: auto;
        @include sq{
            margin-right: 10px;
            width: 49%;
        }
        img{
            width: 100%;
        }
        h3{
            @include font(25);
            color: $color-01;
            font-weight: normal;
            margin: 35px 0 20px;
        }
    }
    .base-01-map-ifram{
        width: auto;
        position: relative;
        @include sq{
            width: 49%;
        }
        iframe{
            height: 260px;
            @include sq{
                height: 75.5%;
            }
        }
    }
    .base-01-text{
        width: 100%;
        @include font(15);
        color: $color-text-01;
        font-weight: normal;
        line-height: 2;
        margin-top: 15px;
        @include sq{
            margin-top: 25px;
        }
        @include mq{
            margin-top: 0;
        }
        span{
            @include font(13);
            display: block;
        }
    }
}

#base-01{}

#base-02{
    background-color: #F6F8F9;
    padding: 40px 0 33px;
    margin: 32px 0 43px;
}
#base-03{
    margin-bottom: 100px;
}
/* /#Base-page
----------------------------------------------- */

/* Echigawa page
----------------------------------------------- */
#echigawa-01, #gokasho-01, #otsu-01{
    .page-tit-02{
        margin: 50px auto 10px;
        @include sq{
            margin: 102px auto 53px;
        }
    }
    .info-list-01{
        margin-bottom: 65px;
    }
    .com-figure-02{
        padding: 0;
        @include sq{
            padding: 40px 0 20px;
        }
    }
    .page-tit-03{
        margin-top: 45px;
        @include sq{
            margin-top: 80px;
        }
    }
}

#echigawa-02, #gokasho-02, #otsu-02{
    padding-top: 30px;
    background-color: #F6F8F9;
    @include sq{
        padding-top: 65px;
    }
    .info-list-01{
        margin: 30px 0 35px;
        li{
            border: 0;
            padding: 9px 0;
        }
        span{
            padding-left: 0;
        }
    }
}

#echigawa-03, #gokasho-03, #otsu-03{
    margin: 50px 0;
    @include sq{
        margin: 100px 0 120px;
    }
}
/* /#Echigawa page
----------------------------------------------- */

/* Gokasho page
----------------------------------------------- */
#gokasho-01{}

#gokasho-02{}

#gokasho-03{}

/* /#Gokasho page
----------------------------------------------- */

/* otsu page
----------------------------------------------- */
#otsu-01{}

#otsu-02{}

#otsu-03{}

/* /#otsu page
----------------------------------------------- */

/* price page
----------------------------------------------- */
.com-price-text{
    text-align: center;
    border: 1px solid #A9A9A9;
    padding: 20px 10px;
    margin: 35px 0 10px;
    background-color: $color-02;
    @include sq{
        padding: 16px 10px;
    }
    p{
        @include font(18);
        color: $color-01;
        font-weight: normal;
        @include sq{
            @include font(20);
        }
    }
}
.com-price-box{
    background-color: #EBEFF1;
    padding: 20px;
    @include sq{
        padding: 38px 40px;
    }
    h4{
        @include font(16);
        color: $color-text-01;
        font-weight: normal;
        margin: 0 -10px;
        line-height: 1.4;
        @include sq{
            line-height: 1.2;
            @include font(18);
        }
    }
    hr{
        border-top: 1px solid #A9A9A9;
        height: 0;
        margin: 25px 0 20px;
    }
    span{
        display: block;
        @include font(20);
        color: $color-01;
        font-weight: 500;
        padding: 16px 0;
        letter-spacing: 0.8px;
    }
    dl{
        display: flex;
        margin-bottom: 4px;
        dt{
            width: 100px;
            min-width: 100px;
        }
        dd,dt{
            @include font(13);
            color: $color-text-01;
            font-weight: normal;
        }
    }
    ul{
        li{
            @include font(13);
            color: $color-text-01;
            font-weight: normal;
            line-height: 2;
        }
    }
    .com-price-text{
        margin: 4px 0 20px;
    }
}

#price-01{
    .page-tit-02{
        margin-bottom: 50px;
        @include sq{
            margin-bottom: 95px;
        }
    }
    .page-tit-04{
        margin: 40px 0 10px;
        @include sq{
            margin: 78px 0 10px;
        }
    }
    .com-price-box{
        margin: 40px 0;
        &.setmg{
            margin: 35px 0;
            .com-price-text{
                margin: 22px 0 22px;
            }
        }
    }
}

#price-02{
    background-color: #F6F8F9;
    padding: 35px 0;
    margin-top: 30px;
    @include sq{
        margin-top: 60px;
        padding: 70px 0;
    }
    .com-price-box{
        margin: 38px 0;
        background-color: $color-02;
        @include sq{
            padding-bottom: 87px;
        }
    }
}

#price-03{
    margin: 45px 0;
    @include sq{
        margin: 68px 0 98px;
    }
}
/* /#price page
----------------------------------------------- */