@charset "utf-8";

// =========================================================
// ページテンプレート指定用
// =========================================================




/* 60　page
========================================================= */

/* 50　block
----------------------------------------------- */

/* 40　parts
------------------------------------- */

// comment





/* 変数設定
========================================================= */

/* base color
------------------------------------- */
$color-01: #216786; // key color
$color-02: #fff;

// SNS color
$color-facebook: #3b5999;
$color-twitter: #1da1f2;
$color-google-plus: #dd4b39;
$color-youtube: #cd201f;
$color-line: #18ba07;



/* text color
------------------------------------- */
$color-text-01: #333333; // body text color

/* font-family:
------------------------------------- */
$font-family-01: "Font Awesome 5 Free", FontAwesome;
$font-family-02: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "WorkSans","Font Awesome", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "メイリオ", Meiryo, Sans-Serif;

/* uikit.cssの基本設定の上書き
========================================================= */
html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	font-family: $font-family-02;
	line-height: 1.7;
	color: $color-text-01;
	@include font(14);
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-family-02;
	color: $color-text-01;
	line-height: 1.2;
	font-style: normal;
}

p {
	margin: 0;
	+ p {
		margin: 0;
		// margin-top: 1em;
	}
}

ul,dl,figure {
	margin: 0;
	padding: 0;
}

dt {
	font-weight: normal;
}

li {
	list-style: none;
}

a {
	color: $color-text-01;
	transition: .4s;
	&:before, &:after {
		transition: .4s;
	}
	&:hover {
		color: $color-text-01;
		text-decoration: none;
	}
}

::-moz-selection {
  color: $color-text-01;
}
::selection {
  color: $color-text-01;
}

// Break point
$bp-smq: 480px;
$bp-s: 640px;
$bp-m: 960px;
$bp-l: 1200px;

/* 基本 body
========================================================= */
//ページ幅
.uk-container {
	margin: 0 auto;
	max-width: 1160px;
	padding: 0 3%;
	@include mq{
		padding: 0 10px;
	}
}

.uk-container1 {
	margin: 0 auto;
	max-width: 880px;
	padding: 0 3%;
	@include mq{
		padding: 0 10px;
	}
}

/* main
========================================================= */
#main {
	padding-top: 0;
}

/* #header
----------------------------------------------- */
#header{
    height: 48px;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
	z-index: 10;
	background-color: transparent;
	@include sq{
		padding-top: 0;
		height: 55px;
		top: 0;
		background-color: $color-02;
	}
	@include mq{
		height: 84px;
	}
}
#header-top{
    width: 100%;
}

/* #header-logo　
----------------------------------------------- */
#header-logo {
	margin-bottom: 0;
	padding-left: 15px;
	line-height: 0;
	@include mq{
        padding-left: 26px;
	}
}

.js-header{
	transform: translateY(-156px);
	transition: 0.3s all ease-out;
	top: 0 !important;
	background-color: rgba($color: #000000, $alpha: .5) !important;
	padding-top: 4px;
	@include sq{
		padding-top: 0;
		background-color: $color-02 !important;
	}
}

/* change logo page
========================================================= */
.uk-pc{
	display: none;
	@include sq{
		display: block;
	}
}
.uk-sp{
	display: block;
	@include sq{
		display: none;
	}
}

.header-otherpage{
	background-color: transparent !important;
	@include sq{
		height: 85px !important;
	}
	.uk-pc{
		display: none;
	}
	.uk-sp{
		display: block;
	}
	&.js-header{
		background-color: rgba($color: #000000, $alpha: .5) !important;
	}
}

/* gnav
========================================================= */
#gnav {
	a {
		text-align:center;
		@include font(16);
		display:flex;
		justify-content:center;
		align-items:center;
		line-height:1;
		padding: 30px 23.5px 20px;
		color: $color-text-01;
		position: relative;
		font-weight: normal;
		flex-direction: column;
		@include lq{
			padding: 30px 28px 20px;
		}
		span{
			position: relative;
			&:after{
				position: absolute;
				content: "\f105";
				font-family: "FontAwesome";
				font-weight: bold;
				top: 50%;
				transform: translateY(-50%);
				right: -16px;
				@include font(19);
				color: $color-01;
			}
		}
		small{
			display: block;
			@include font(8);
			font-weight: 300;
			text-align: left;
			padding-top: 7px;
			padding-left: 5px;
			align-self: flex-start;
			text-transform: uppercase;
		}
	}
	&.js-gnav{
		a {
			color: $color-02;
		}
		span:after{
			color: $color-02;
		}
	}
}

.header-btn-01 {
	display: block;
	padding: 0;
	border: 0;
	background-color: $color-01;
	margin-right: 5px;
	outline: none;
	@include sq{
		margin-right: 0;
	}
	img{
		width: 53px;
		@include sq{
			width: 60px;
		}
	}
}

/* sub contact
-------------------------------------- */
#sub-contact{
	padding: 30px 0 25px;
	background-color: #F6F8F9;
	border-bottom: 0;
	@include sq{
		border-bottom: 0;
		padding: 20px 0 58px;
		margin-bottom: 95px;
	}
	.sub-contact-text{
		@include font(18);
		color: $color-text-01;
		font-weight: 500;
		text-align: center;
		padding: 20px 3%;
		@include sq{
			@include font(20);
			padding: 35px 10px 40px;
		}
	}
	&.home-page{
		border-bottom: 1px solid #C0C0C0;
		padding: 70px 0 58px;
		background-color: $color-02;
		margin-bottom: 0;
		.com-sub-contact li{
			margin: 0 2.7%;
		}
	}
}

// com-sub-contact
.com-sub-contact{
	padding: 0 10px;
	display: block;
	@include mq{
		display: flex;
	}
	li{
		margin: 0 1%;
		@include sq{
			margin: 0 1.7%;
		}
	}
	.tel{
		color: $color-01;
		@include font(28);
		line-height: 1;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		@include avenir;
		font-weight: 500;
		letter-spacing: -1px;
		@include smq{
			@include font(43);
		}
		@include mq{
			justify-content: center;
		}
	}
	li p{
		@include font(13);
		color: $color-01;
		line-height: 2;
		font-weight: normal;
		padding-top: 5px;
	}
	.link-sub-contact{
		background-color: $color-01;
		width: 408px;
		display: block;
		align-items: center;
		justify-content: center;
		margin: 32px auto 0;
		width: 100%;
		height: 50px;
		line-height: 50px;
		color: $color-02;
		@include font(16);
		font-weight: normal;
		text-align: center;
		@include smq{
			height: 73px;
			line-height: 73px;
		}
		@include sq{
			display: flex;
		}
		@include mq{
			width: 408px;
			margin: 0 auto;
		}
		.com-link-01{
			@include font(16);
			color: $color-02;
			&:after{
				color: $color-02;
				right: 0;
				@include font(21);
				top: -2px;
			}
		}
	}
}

/* footer
========================================================= */
/* 共通パーツ
----------------------------------------------- */
/* footer-nav
-------------------------------------- */
.l-nav{
	background-color: #EBEFF1;
	padding: 16px 0 5px;
	margin-top: 0;
	@include sq{
		margin-top: 30px;
		padding: 32px 0 20px;
	}
}

/* breadcrumb
-------------------------------------- */
#breadcrumb{
	padding: 16px 0;
	border-bottom: 1px solid #D2D3D3;
	.uk-breadcrumb{
		align-items: center;
		margin: 0 auto;
		max-width: 1160px;
		padding: 0 4px;
	}
	.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column):after{
		content: "\f105";
		font-family: "FontAwesome";
		font-weight: normal;
		color: $color-01;
		@include font(19);
		margin: 0 15px 0 5px;
	}
	.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column):before{
		content: "";
		margin: 0;
	}
	li:first-child a{
		color: $color-02;
		background-color: $color-01;
		display: block;
		height: 40px;
		width: 142px;
		line-height: 40px;
		text-align: right;
		position: relative;
		margin-right: 38px;
		@include font(14);
		font-weight: normal;
		letter-spacing: -1px;
		&:after{
			top: 0;
			right: -30px;
			height: 0;
			width: 10px;
			content: "";
			position: absolute;
			border-left: 20px solid #216786;
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
		}
	}
	a{
		@include font(14);
		color: $color-text-01;
		font-weight: normal;
		line-height: 1;
	}
}

.footer-nav-01 {
	max-width: 1160px;
	margin: 0 auto;
	box-sizing: content-box;
	padding: 0 3%;
	@include mq{
		padding: 0 10px;
	}
}
.footer-nav-tit{
	@include font(13);
	color: $color-01;
	font-weight: 500;
	width: 100%;
}
.footer-navi-list{
	width: 25%;
	padding-left: 35px;
	a{
		@include font(12);
		color: $color-text-01;
		position: relative;
		padding-left: 5px;
		font-weight: normal;
		&:before{
			font-weight: normal;
			padding-left: 5px;
			font-family: "FontAwesome";
			content: '\f105';
			@include font(12);
			position: absolute;
			left: -8px;
			top: 50%;
			transform: translateY(-50%);
			color: $color-01;
		}
		&:hover{
			margin-left: 12px;
			transition: 0.3s all ease;
		}
	}
	li{
		margin-bottom: 12px;
	}
}

.footer-connect{
	display: block;
	@include sq{
		justify-content: center;
		display: flex;
	}
	& > div{
		border-left: 0;
		border-bottom: 1px solid #C0C0C0;
		padding: 12px 0 21px;
		width: auto;
		@include sq{
			padding: 5px 10px;
			border-bottom: 0;
			border-left: 1px solid #C0C0C0;
			width: 25%;
		}
		@include mq{
			padding: 5px 0 0 35px;
		}
		&:last-child{
			border: 0;
			@include sq{
				border-left: 1px solid #C0C0C0;
				border-right: 1px solid #C0C0C0;
			}
		}
	}
	h4,p{
		@include font(13);
		font-weight: bold;
		line-height: 2;
		margin: 0;
	}
	p{
		@include font(12);
		font-weight: normal;
		line-height: 1.92;
		span{
			display: inline-block;
			color: $color-text-01;
			height: auto;
			transform: skew(-30deg);
			margin: 0 5px;
			@include sq{
				display: block;
				height: 0;
				color: transparent;
			}
		}
	}
}
/* タイトル
-------------------------------------- */
/* テキスト
-------------------------------------- */
/* リンク・ボタン
-------------------------------------- */
/* パネル
-------------------------------------- */


/* footer-logo
========================================================= */
#footer-logo {
	text-align: center;
	padding: 45px 0 25px;
	border-bottom: 1px solid #C0C0C0;
	margin: 0 3%;
	@include sq{
		padding: 0 10px;
		border-bottom: 0;
		padding: 104px 3% 75px;
	}
}

.footer-backtop-btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 56px;
    height: 56px;
	background-color: $color-01;
	position: fixed;
	bottom: 40px;
	right: 10px;
    display: none;
    @include sq{
        bottom: 45px;
        right: 20px;
    }
}

/* #copyright
----------------------------------------------- */
#copyright {
	@include font(11);
	text-align: center;
	display: block;
	background-color: $color-02;
	color: #707070;
	line-height: 1;
	padding: 18px 0 30px;
	font-weight: normal;
	letter-spacing: 0px;
	font-family: "Noto Sans JP Regular";
	@include sq{
		padding: 30px 0;
	}
}

/* offcanvas
========================================================= */
.uk-nav-header{
	background-color: $color-01;
	padding: 5px 10px;
	color: $color-02;
}
.uk-offcanvas-bar {
	background-color:$color-02;
	padding: 0 0 20px 0;
	li{
		border-bottom:1px solid #DCDCDC;
		position: relative;
		&:before{
			position: absolute;
			content: "\f15b";
			font-family: "FontAwesome";
			color: #808080;
			@include font(16);
			margin-right: .4em;
			font-style: normal;
			top: 50%;
			transform: translateY(-50%);
			left: 10px;
		}
	}
	li a{
		color:$color-text-01;
		@include font(13);
		padding: 10px 15px 10px 30px;
		position: relative;
		&:hover {
			color:$color-text-01;
		}
	}
	.uk-parent a{
		padding-left: 10px;
	}
	.uk-parent, .uk-nav-header {
		&:before{
			content: none;
		}
		a{
			&:after, &:before{
				position: absolute;
				content: "";
				font-family: "FontAwesome";
				font-weight: normal;
				right: 10px;
				transition: 0.4s all ease-in-out;
				width: 18px;
				height: 2px;
				background-color: #808080;
				top: 50%;
				transform: translateY(-1px);
			}
			&:before{
				transform: rotate(90deg) translateX(-1px);
			}
		}
	}
}
.uk-parent.uk-open a:before{
	content: "";
	transform: rotate(0) translateY(-1px);
}
.uk-offcanvas-bar li:first-child{
	border-bottom: 0;
}
ul.uk-nav-sub{
	padding: 0;
	a{
        color:$color-text-01;
        padding-left: 30px !important;
	}
	li{
		background-color: #F5F5F5;
		border-bottom:1px solid $color-02;
		&:first-child{
			border-bottom:1px solid $color-02;
		}
		&:last-child{
			border-bottom: 0;
		}
	}
}
.uk-parent ul.uk-nav-sub a{
	&:after, &:before{
		content: none;
	}
}
.link-canvas-icon{
	padding-top: 7px;
	li{
		border: 0;
		margin-top: 12px;
		&:before{
			content: none;
		}
		img{
			margin-right: 10px;
		}
		a{
			padding-left: 10px;
			@include font(13);
			font-weight: 500;
			color: #808080;
		}
	}
}