{{#extend "default"}}
{{#content "main"}}

        <div class="page-tit-01 base">
            <h1>LOGISTICS BASE<small>物流拠点</small></h1>
        </div><!-- /.page-tit-01 -->
        
        <div id="breadcrumb" class="uk-visible@m">
            <ul class="uk-breadcrumb">
                <li><a href="/logistics/">物流サービストップ</a></li>
                <li><a href="/warehouse/">保管サービス</a></li>
                <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
                <li><a href="/processing/">流通加工サービス</a></li>
                <li><a href="/transport/">輸送サービス</a></li>
                <li><a href="/base/">物流拠点</a></li>
                <li><a href="/price/">料金の目安</a></li>
            </ul>
        </div><!-- /#breadcrumb -->

        <section id="base-01">
            <div class="uk-container1">

                <div class="page-tit-02">
                    <h2>抜群のアクセス環境を誇る滋賀県<br>で戦略的なロジスティクスをご提供</h2>
                    <p class="uk-text-center">滋賀県内に3カ所の物流センターを設置。関西、北陸、東海方面への充実したアクセス環境と、<br>危険物・毒物劇物の輸送にも対応可能な、高品質の保管サービスをご提供します。</p>
                </div><!-- /.page-tit-02 -->

                <div class="base-01-map">
                    <div class="base-01-map-img">
                        <img src="cmscp/wp-content/themes/mymall/img/logistics/base/itemmap01.jpg" alt="">
                        <h3>愛知川配送センター</h3>
                    </div>
                    <div class="base-01-map-ifram">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.986915104243!2d136.20935781566092!3d35.15694708031978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003d62d954fc55b%3A0xadf11c9643499e81!2zNTI5LTEzMjUsIE5o4bqtdCBC4bqjbg!5e0!3m2!1svi!2s!4v1548672771877"
                            width="100%" height="75.5%" frameborder="0" style="border:0" allowfullscreen>
                        </iframe>
                        <ul class="base-01-link">
                            <li><a href="">普通倉庫</a></li>
                            <li><a href="">危険物倉庫</a></li>
                            <li><a href="">毒物劇物倉庫</a></li>
                            <li><a href="">冷蔵倉庫</a></li>
                        </ul>
                    </div>
                    <p class="base-01-text">
                        〒529-1325 滋賀県愛知郡愛荘町東円堂533番地5 ／ TEL.0749-49-5677 
                        <span>交通アクセス：国道8号より1.7km 、名神八日市ICから7km、彦根ICから15km、竜王ICから21km、</span>
                    </p>
                </div><!-- /.base-01-map -->
        
            </div><!-- /.uk-container1 -->
        </section><!-- /#base-01 -->

        <section id="base-02">
            <div class="uk-container1">

                <div class="base-01-map">
                    <div class="base-01-map-img">
                        <img src="cmscp/wp-content/themes/mymall/img/logistics/base/itemmap02.jpg" alt="">
                        <h3>五個荘配送センター</h3>
                    </div>
                    <div class="base-01-map-ifram">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.986915104243!2d136.20935781566092!3d35.15694708031978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003d62d954fc55b%3A0xadf11c9643499e81!2zNTI5LTEzMjUsIE5o4bqtdCBC4bqjbg!5e0!3m2!1svi!2s!4v1548672771877"
                            width="100%" height="75.5%" frameborder="0" style="border:0" allowfullscreen>
                        </iframe>
                        <ul class="base-01-link">
                            <li><a href="">普通倉庫</a></li>
                            <li><a href="">危険物倉庫</a></li>
                        </ul>
                    </div>
                    <p class="base-01-text">
                        〒529-1413 滋賀県東近江市五個荘簗瀬町4番地9 ／ TEL. 0748-48-5066<br>
                        <span>交通アクセス：国道8号より200mm、名神八日市ICから9km、彦根ICから15km、竜王ICから17km、</span>
                    </p>
                </div><!-- /.base-01-map -->

            </div><!-- /.uk-container1 -->
        </section><!-- /#base-02 -->

        <section id="base-03">
            <div class="uk-container1">
        
                <div class="base-01-map">
                    <div class="base-01-map-img">
                        <img src="cmscp/wp-content/themes/mymall/img/logistics/base/itemmap03.jpg" alt="">
                        <h3>大津配送センター</h3>
                    </div>
                    <div class="base-01-map-ifram">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3261.986915104243!2d136.20935781566092!3d35.15694708031978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6003d62d954fc55b%3A0xadf11c9643499e81!2zNTI5LTEzMjUsIE5o4bqtdCBC4bqjbg!5e0!3m2!1svi!2s!4v1548672771877"
                            width="100%" height="75.5%" frameborder="0" style="border:0" allowfullscreen>
                        </iframe>
                        <ul class="base-01-link">
                            <li><a href="">普通倉庫</a></li>
                        </ul>
                    </div>
                    <p class="base-01-text">
                        〒520-2123 滋賀県大津市瀬田大江町13番20 ／ TEL. 077-544-3011<br>
                        <span>交通アクセス：瀬田東ICから2km、 名神瀬田西ICから3km、新名神草津田上ICから3km</span>
                    </p>
                </div><!-- /.base-01-map -->
        
            </div><!-- /.uk-container1 -->
        </section><!-- /#base-03 -->

        {{> contactlist}}

{{/content}}
{{/extend}}