{{#extend "default"}}
{{#content "main"}}

        <div class="page-tit-01 echigawa">
            <h1>ECHIGAWA LOGISTICS BASE<small>愛知川配送センター</small></h1>
        </div><!-- /.page-tit-01 -->
        
        <div id="breadcrumb" class="uk-visible@m">
            <ul class="uk-breadcrumb">
                <li><a href="/logistics/">物流サービストップ</a></li>
                <li><a href="/warehouse/">保管サービス</a></li>
                <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
                <li><a href="/processing/">流通加工サービス</a></li>
                <li><a href="/transport/">輸送サービス</a></li>
                <li><a href="/base/">物流拠点</a></li>
                <li><a href="/price/">料金の目安</a></li>
            </ul>
        </div><!-- /#breadcrumb -->

        <section id="echigawa-01">
            <div class="uk-container1">
            
                <div class="page-tit-02">
                    <h2>セントラルロジコの物流拠点の中で、最大規模の倉庫</h2>
                    <p>愛知川配送センターは、敷地面積8,000坪の広大な土地を所有しています。お客様のご要望があれば、いつでも物流施設の増設に対応します。弊社の周辺地域は工業地帯になっていますので、危険物倉庫の建設には最適な立地環境です。迅速な建設着工のご提案も可能です。</p>
                </div><!-- /.page-tit-02 -->

                <figure class="com-figure-02">
                    <img src="cmscp/wp-content/themes/mymall/img/logistics/base/echigawa/main-01.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

                <div class="page-tit-03"><h3>倉庫概要</h3></div>
                <!-- /.page-tit-03 -->

                <ul class="info-list-01">
                    <li><span>所在地</span><p>〒529-1325　滋賀県愛知郡愛荘町東円堂533番地5</p></li>
                    <li><span>TEL</span><p>0749-49-5677</p></li>
                    <li><span>FAX</span><p>0749-49-5688</p></li>
                    <li><span>E-mail</span><p>kenji.yamada@c-logico.co.jp</p></li>
                    <li><span>倉庫種類</span><p>普通倉庫／危険物倉庫／毒物劇物倉庫／冷蔵倉庫</p></li>
                    <li><span>主要構造・階数</span><p>鉄骨造2階建</p></li>
                    <li><span>敷地面積</span><p>26,408.77㎡</p></li>
                    <li><span>普通倉庫面積</span><p>3,850㎡（1,166.67坪）</p></li>
                    <li><span>危険物倉庫面積</span><p>1,170.18㎡（354.6坪）</p></li>
                    <li><span>冷蔵倉庫面積</span><p>150㎡（45.45坪）（温度調整範囲　-5℃～20℃）</p></li>
                </ul>

            </div><!-- /.uk-container1 -->
        </section><!-- /#echigawa-01 -->

        <section id="echigawa-02">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>アクセス</h3></div>
                <!-- /.page-tit-03 -->
                <ul class="info-list-01">
                    <li><span>お車でお越しの場合</span><p>国道8号より1.7km 、名神八日市ICから7km、彦根ICから15km、竜王ICから21km、</p></li>
                    <li><span>電車でお越しの場合</span><p>最寄り駅：JR東海道本線 能登川駅</p></li>
                </ul><!-- /.info-list-01 -->
            </div>

            <div class="com-echigawa-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.2336233963215!2d136.20571761564074!3d35.1507938803213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60017d805feeb481%3A0xa776cc526b00cbd0!2zNTMzLTUgVMWNZW5kxY0sIEFpc2jFjS1jaMWNLCBFY2hpLWd1biwgU2hpZ2Eta2VuIDUyOS0xMzI1LCBOaOG6rXQgQuG6o24!5e0!3m2!1svi!2s!4v1548729969313" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div><!-- /.com-echigawa-map -->

        </section><!-- /#echigawa-02 -->

        <section id="echigawa-03">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>設備概要</h3></div>
                <!-- /.page-tit-03 -->

                <ul class="com-list-03">
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/echigawa/item-01.jpg" alt=""></figure>
                        <div>
                            <h4>物流業務を幅広くサポート</h4>
                            <p>消防法で定める危険物全類（第一類～第六類）を扱うことができる危険物倉庫を保有しています。保管面積も広く、常時お客様の要望に応えられる体制を整えています。また、保管品種は多種多様で危険物をはじめ毒物劇物・冷蔵品・医薬品とさまざまな寄託物に対応できるノウハウを兼ね備えています。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/echigawa/item-02.jpg" alt=""></figure>
                        <div>
                            <h4>毒物劇物倉庫</h4>
                            <p>「毒物劇物一般販売業」の登録を受けているため、単に倉庫へ保管するだけでなく、入出荷作業及び在庫管理を行うことができます。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/echigawa/item-03.jpg" alt=""></figure>
                        <div>
                            <h4>冷蔵倉庫</h4>
                            <p>冷蔵倉庫の面積は150㎡(45.45坪)。温度調整範囲は-5℃〜20℃です。畜・水・農産をはじめ生鮮食品また冷凍食品などを、低温で貯蔵する冷蔵倉庫を完備しています。商品の品質を損なうことなく、長期間にわたって保管できる設備です。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/echigawa/item-04.jpg" alt=""></figure>
                        <div>
                            <h4>捌場は全天候対応型の荷役環境で安心</h4>
                            <p>フォークリフトでデバンニング作業が可能な移動式スロープです。接続部の高さが調整可能ですので、様々なコンテナでお使いいただけます。スロープには安全作業の為のサイドガード付きです。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/echigawa/item-03.jpg" alt=""></figure>
                        <div>
                            <h4>セキュリティ体制</h4>
                            <p>倉庫及び事務所のセキュリティ対策は、24時間セコムセキュリティーシステムにより、お客様の大切な寄託物を安全に守り監視しています。さらに事務所では高い認証精度を誇る指静脈認証を導入済みで、最新のシステムをいち早く活用して安全性を高めています。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/echigawa/item-04.jpg" alt=""></figure>
                        <div>
                            <h4>小ロット多品種の入出荷作業・在庫管理に対応</h4>
                            <p>滋賀県内でも随一の小ロット多品種の入出荷作業を行っています。実務に即した自社カスタマイズの倉庫管理システム「3EWMS」で、正確な在庫管理を約束します。出荷に必要な流通加工（ラベル貼り替え、積み替え梱包など）にも迅速に対応します。</p>
                        </div>
                    </li>
                </ul>

            </div>
        </section><!-- /#echigawa-03 -->

        {{> contactlist}}

{{/content}}
{{/extend}}