{{#extend "default"}}
{{#content "main"}}

        <div class="page-tit-01 gokasho">
            <h1>GOKASHO LOGISTICS BASE<small>五個荘配送センター</small></h1>
        </div><!-- /.page-tit-01 -->

        <div id="breadcrumb" class="uk-visible@m">
            <ul class="uk-breadcrumb">
                <li><a href="/logistics/">物流サービストップ</a></li>
                <li><a href="/warehouse/">保管サービス</a></li>
                <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
                <li><a href="/processing/">流通加工サービス</a></li>
                <li><a href="/transport/">輸送サービス</a></li>
                <li><a href="/base/">物流拠点</a></li>
                <li><a href="/price/">料金の目安</a></li>
            </ul>
        </div><!-- /#breadcrumb -->

        <section id="gokasho-01">
            <div class="uk-container1">
        
                <div class="page-tit-02">
                    <h2>東海･北陸エリアへ迅速アクセス</h2>
                    <p>五個荘配送センターは平屋仕様のため、庫内中心部に主要柱がなく寄託物の形態により様々なレイアウトが可能です。物流業界で一般的に使用されているパレット（サイズ1,100ｍｍ×1,100ｍｍ）を保管する場合は、1棟につき約600パレットが保管できます。大小ロットの寄託物に関わらず、十分対応できる保管スペースをご提供します。</p>
                </div><!-- /.page-tit-02 -->

                <figure class="com-figure-02">
                    <img src="cmscp/wp-content/themes/mymall/img/logistics/base/gokasho/main-01.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

                <div class="page-tit-03"><h3>倉庫概要</h3></div>
                <!-- /.page-tit-03 -->

                <ul class="info-list-01">
                    <li><span>所在地</span><p>〒529-1413 滋賀県東近江市五個荘簗瀬町4番地9</p></li>
                    <li><span>TEL</span><p>0748-48-5066</p></li>
                    <li><span>FAX</span><p>0748-48-5067</p></li>
                    <li><span>E-mail</span><p>kenji.yamada@c-logico.co.jp</p></li>
                    <li><span>倉庫種類</span><p>普通倉庫／危険物倉庫</p></li>
                    <li><span>主要構造・階数</span><p>鉄骨造1階建</p></li>
                    <li><span>敷地面積</span><p>4,764㎡</p></li>
                    <li><span>普通倉庫面積</span><p>1,997.6㎡（605.33坪）</p></li>
                    <li><span>危険物倉庫面積</span><p>156㎡（47.27坪）</p></li>
                </ul>
        
            </div><!-- /.uk-container1 -->
        </section><!-- /#gokasho-01 -->

        <section id="gokasho-02">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>アクセス</h3></div>
                <!-- /.page-tit-03 -->
                <ul class="info-list-01">
                    <li><span>お車でお越しの場合</span><p>国道8号より200mm、名神八日市ICから9km、彦根ICから15km、竜王ICから17km</p></li>
                    <li><span>電車でお越しの場合</span><p>最寄り駅：JR東海道本線 能登川駅</p></li>
                </ul><!-- /.info-list-01 -->
            </div>

            <div class="com-echigawa-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.2336233963215!2d136.20571761564074!3d35.1507938803213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60017d805feeb481%3A0xa776cc526b00cbd0!2zNTMzLTUgVMWNZW5kxY0sIEFpc2jFjS1jaMWNLCBFY2hpLWd1biwgU2hpZ2Eta2VuIDUyOS0xMzI1LCBOaOG6rXQgQuG6o24!5e0!3m2!1svi!2s!4v1548729969313" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div><!-- /.com-echigawa-map -->

        </section><!-- /#gokasho-02 -->

        <section id="gokasho-03">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>設備概要</h3></div>
                <!-- /.page-tit-03 -->

                <ul class="com-list-03">
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/gokasho/item-01.jpg" alt=""></figure>
                        <div>
                            <h4>156㎡（47.27坪）の危険物倉庫</h4>
                            <p>一斗缶、ドラム缶、コンテナなど各種危険物容器の取扱いにフレキシブルに対応できる危険物倉庫です。消防法で定める危険物第四類を主に扱うことができます。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/gokasho/item-02.jpg" alt=""></figure>
                        <div>
                            <h4>荷物の形態に合わせて保管できる倉庫</h4>
                            <p>平屋2棟建て仕様の倉庫のため、庫内は無柱構造となっています。そのため、お客様の荷物の形態に合わせて、様々なレイアウトに変更可能です。一般的に使用されているパレット(1,100mm四方)であれば、1棟につき約600パレット保管できるスペースを有しています。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/gokasho/item-03.jpg" alt=""></figure>
                        <div>
                            <h4>セキュリティ体制</h4>
                            <p>倉庫及び事務所のセキュリティ対策は、24時間セコムセキュリティーシステムにより、お客様の大切な寄託物を安全に守り監視しています。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/gokasho/item-04.jpg" alt=""></figure>
                        <div>
                            <h4>給油取扱所</h4>
                            <p>配送センター敷地内に自社の給油取扱所を完備。輸送サービスになくてはならないトラックへの給油が、いつでも可能です。お客様の要望による緊急出荷や輸送に対応する万全の体制を整えています。</p>
                        </div>
                    </li>
                </ul>

            </div>
        </section><!-- /#gokasho-03 -->

        {{> contactlist}}

{{/content}}
{{/extend}}