{{#extend "default"}}
{{#content "main"}}

    <div class="page-tit-01 hazardous">
        <h1>LOGISTICS<small>物流サービス</small></h1>
    </div><!-- /.page-tit-01 -->

    <div id="breadcrumb" class="uk-visible@m">
        <ul class="uk-breadcrumb">
            <li><a href="/logistics/">物流サービストップ</a></li>
            <li><a href="/warehouse/">保管サービス</a></li>
            <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
            <li><a href="/processing/">流通加工サービス</a></li>
            <li><a href="/transport/">輸送サービス</a></li>
            <li><a href="/base/">物流拠点</a></li>
            <li><a href="/price/">料金の目安</a></li>
        </ul>
    </div><!-- /#breadcrumb -->

    <section id="hazardous-01">
        <div class="uk-container1">

            <div class="page-tit-02">
                <h2>スペシャリストによる確かな安全管理</h2>
                <p>滋賀県内2カ所に自社の「危険物倉庫」を完備。有資格者で専門知識を備えた危険物のプロが、適正かつ確実に業務を遂行し、確かな品質と高い安全性を保持しています。</p>
            </div><!-- /.page-tit-02 -->

            <figure class="com-figure-02">
                <img src="cmscp/wp-content/themes/mymall/img/logistics/hazardous/main-01.jpg" alt="">
            </figure><!-- /.com-figure-01 -->

            <div class="page-tit-03"><h3>危険物の保管･管理</h3></div>
            <!-- /.page-tit-03 -->
            <p class="com-text-03">消防法で定める危険物全類（第一類～第六類）の保管が可能です。愛知川配送センターは、1,170.18㎡（354.6坪）、五個荘配送センターは、156㎡（47.27坪）の危険物倉庫を完備しています。</p>
            <p class="com-text-03">危険物を安心できる倉庫会社で保管したい、危険物の法令を熟知している倉庫会社で取り扱ってほしい。そんな荷主企業様のご要望に、弊社がお応えします。</p>

            <div class="page-tit-04"><h4>30年の実績と幅広いノウハウ</h4></div>
            <!-- /.page-tit-04 -->
            <p class="com-text-03">保管業務に特化し、多品種の危険物管理に対応して30年 。弊社は危険物保管に関する幅広いノウハウを備えています。また、各配送センターで作業にあたるのは、「危険物取扱者」資格保持者であり、危険物の専門知識を備えた人材が責任を持って業務を遂行します。</p>

            <div class="com-text-04">
                <h3>危険物とは</h3>
                <p>消防法で定められている物品で、類別・性質・品名が決められており、弊社危険物倉庫は危険物全類(第一類〜第六類)に対応しています。なお、指定数量以上の危険物は、消防法で許可されている危険物倉庫以外では貯蔵し、または、取り扱うことができません。</p>
            </div><!-- /.com-text-04 -->

        </div><!-- /.uk-container1 -->
    </section><!-- /#hazardous-01 -->

    <section id="hazardous-02">
        <div class="uk-container1">

            <figure class="com-figure-02">
                <img src="cmscp/wp-content/themes/mymall/img/logistics/hazardous/main-02.jpg" alt="">
            </figure><!-- /.com-figure-01 -->

            <div class="page-tit-03"><h3>毒物劇物の適正な保管・管理</h3></div>
            <!-- /.page-tit-03 -->
            <p class="com-text-03">弊社は、全ての毒物劇物保管が可能です。毒物劇物については、特に運用・管理の徹底が厳しく求められます。弊社は、「毒物劇物一般販売業」の登録を受けているため、単に倉庫へ保管するだけでなく、入出荷作業及び在庫管理を行うことができます</p>
            <p class="com-text-03">「毒物劇物の保管・管理、全てを任せたい」。そんな荷主企業様は、毒物劇物に精通した弊社に、是非ご相談ください。</p>

            <div class="page-tit-04"><h4>毒物劇物一般販売業に登録</h4></div>
            <!-- /.page-tit-04 -->
            <p class="com-text-03">毒物及び劇物取締法では「毒物劇物一般販売業」の登録を受けていない倉庫業者は、「保管」「入出荷作業」「在庫管理」をすることはできないと定義されています。弊社は「保管」「入出荷作業」「在庫管理」の全てが行える、下記条件を満たしています。</p>
            <p class="com-text-03">
                1. 毒物劇物一般販売業の登録を受けている<br>
                2. 毒物劇物取扱者資格保持者が毒物劇物の管理を行う<br>
                3. 盗難防止設備が完備されている
            </p>

            <div class="com-text-04">
                <h3>毒物劇物とは</h3>
                <p>「毒物」「劇物」は毒性の強い物質であり、毒物及び劇物取締法第2条で指定されているものです。<br>
                　該当するものの容器には、下記の表示があります。（毒物及び劇物取締法第12条）</p>
                <img src="cmscp/wp-content/themes/mymall/img/logistics/hazardous/icon.jpg" alt="">
            </div><!-- /.com-text-04 -->

        </div>
    </section><!-- /#hazardous-02 -->

    {{> contact}}
    {{> contactlist}}

{{/content}}
{{/extend}}