{{#extend "default"}}
{{#content "main"}}

        <div class="l-keyvisual">
            <div id="keyvisual">

                <div class="slider js-slider">
                    <figure class="img-container">
                        <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/home/pc_main_img_01.jpg" alt="">
                        <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/home/pc_main_img_01_s.jpg" alt="">
                    </figure>
                    <figure class="img-container">
                        <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/home/pc_main_img_02.jpg" alt="">
                        <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/home/pc_main_img_02_s.jpg" alt="">
                    </figure>
                    <figure class="img-container">
                        <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/home/pc_main_img_03.jpg" alt="">
                        <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/home/pc_main_img_03_s.jpg" alt="">
                    </figure>
                    <figure class="img-container">
                        <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/home/pc_main_img_04.jpg" alt="">
                        <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/home/pc_main_img_04_s.jpg" alt="">
                    </figure>
                </div><!-- /.js-slider -->

                <div class="catch-wrapper uk-container">
                    <div class="catch">
                        <small>Make logistics a fighting force</small>
                        <h2>物流を戦力に。</h2>
                        <p>信頼のトータル･ロジスティクス･ソリューションで、<br>ビジネスを戦略的にサポート</p>
                    </div>
                </div>

            </div><!-- #keyvisual -->

            <div id="keyvisual-scroll">
                <div class="l-scroll uk-flex uk-flex-between">
                    <a href="#home-01" class="com-btn-scroll" uk-scroll>more</a>
                    <ul class="home-nav-01 uk-flex uk-flex-center">
                        <li>
                            <div>
                                <h2>戦略的な物流サービス
                                <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/home/message.svg" alt="">
                                    <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/home/message_s.svg" alt="">
                                </h2>
                                <p class="uk-visible@s">多様な荷物に対応できる高水準の保管サービス</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h2>付加価値の高い流通加工
                                    <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/home/calendar.svg" alt="">
                                    <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/home/calendar_s.svg" alt="">
                                </h2>
                                <p class="uk-visible@s">ニーズに応じた流通加工で保管･運送にプラスαを</p>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h2>高品質な輸送サービス
                                    <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/home/globe.svg" alt="">
                                    <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/home/globe_s.svg" alt="">
                                </h2>
                                <p class="uk-visible@s">充実のアクセス環境、危険物･毒物劇物の輸送にも対応</p>
                            </div>
                        </li>
                    </ul><!-- /.home-nav-01 -->
                </div><!-- /.l-scroll -->
            </div><!-- #keyvisual-scroll -->

        </div><!-- /.l-keyvisual -->

        <div id="home-01">

            <div class="home-tit-01" uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300">
                <h2>LOGISTICS SERVICE<span>物流サービス</span></h>
            </div><!-- /.home-tit-01 -->

            <div class="uk-container">
                <div class="home-text-01 uk-flex uk-flex-between uk-grid-medium">
                    <h3 uk-scrollspy="cls:uk-animation-slide-bottom-small">物流ノウハウと<br class="uk-hidden@s">自社システムによる <br> 効率的な物流戦略をご提案</h3>
                    <p uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300">危険物･毒物劇物の保管サービス･輸送サービスを得意とし、業務の最適化・効率化を意識した戦略的なロジスティクス･ソリューションをご提案。</p>
                </div><!-- /.home-text-01 -->
                
                <ul class="home-nav-list">
                    <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300">
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item01.jpg" alt="">
                        </figure>
                        <h4 class="com-link-01">保管サービス</h4>
                        <p>独自システムによる3PLサービス</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 600">
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item02.jpg" alt="">
                        </figure>
                        <h4 class="com-link-01">危険物･毒物劇物保管サービス</h4>
                        <p>危険物･毒物劇物の取り扱い可能</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 900">
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item03.jpg" alt="">
                        </figure>
                        <h4 class="com-link-01">流通加工サービス</h4>
                        <p>アウトソージング化をバックアップ</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 1200">
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item04.jpg" alt="">
                        </figure>
                        <h4 class="com-link-01">輸送サービス</h4>
                        <p>安全で質の高い輸送サービス</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                </ul><!-- /.home-nav-list -->
            </div><!-- /.uk-container -->

            <div id="home-01-textnav">

                <div class="home-text-nav uk-container uk-flex uk-flex-between" uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300">
                    <div class="home-text-left">
                        <h3><small>WAREHOUSE</small>抜群のアクセス環境を誇る滋賀県で<br>戦略的なロジスティクスをご提供</h3>
                        <p>滋賀県内に3カ所の物流センターを設置。<br>
                        関西、北陸、東海方面への充実したアクセス環境と、<br>
                        危険物・毒物劇物の輸送にも対応可能な、<br>
                        高品質の保管サービス。</p>
                    </div>

                    <ul class="home-nav-list home-01-list">
                        <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 600">
                            <figure>
                                <img src="cmscp/wp-content/themes/mymall/img/home/img-item05.jpg" alt="">
                            </figure>
                            <h4><a class="com-link-01" href="">愛知川配送センター</a></h4>
                            <p>滋賀県愛知郡愛荘町東円堂533番地5</p>
                            <a class="home-tag" href="">普通倉庫</a>
                            <a class="home-tag" href="">危険物倉庫</a>
                            <a class="home-tag" href="">毒物劇物倉庫</a>
                            <a class="home-tag" href="">冷蔵倉庫</a>
                        </li>
                        <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 900">
                            <figure>
                                <img src="cmscp/wp-content/themes/mymall/img/home/img-item06.jpg" alt="">
                            </figure>
                            <h4><a class="com-link-01" href="">五個荘配送センター</a></h4>
                            <p>滋賀県東近江市五個荘簗瀬町4番地9</p>
                            <a class="home-tag" href="">普通倉庫</a>
                            <a class="home-tag" href="">危険物倉庫</a>
                        </li>
                        <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 1200">
                            <figure>
                                <img src="cmscp/wp-content/themes/mymall/img/home/img-item07.jpg" alt="">
                            </figure>
                            <h4><a class="com-link-01" href="">大津配送センター</a></h4>
                            <p>滋賀県大津市瀬田大江町13番20</p>
                            <a class="home-tag" href="">普通倉庫</a>
                        </li>
                    </ul><!-- /.home-nav-list -->

                </div><!-- /.home-text-nav -->

            </div><!-- /#home-01-textnav -->

        </div><!-- /#home-01 -->

        <section id="home-02">

            <div class="uk-container" uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300">
                <h2 class="home-tit-02"><span>R</span>ECRUIT<small>採用情報</small></h2>
                <p class="com-text-02 uk-visible@s">物流の未来を切り拓く、挑戦者を求めています</p>
                <p class="com-text-02 uk-hidden@s">物流の未来を切り拓く<br>挑戦者を求めています</p>

                <ul class="home-nav-list home-02-list">
                    <li>
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item09.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">メッセージ</h3>
                        <p>当社が目指す未来のビジョン</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li>
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item10.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">私たちの仕事</h3>
                        <p>企業価値を戦略的に高める、質の高い仕事</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li>
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item11.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">キャリアアップ</h3>
                        <p>現場での経験・学び・頑張りをそのまま評価する仕組み</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li>
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item12.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">先輩社員の仕事紹介</h3>
                        <p>最前線で活躍する先輩社員をご紹介</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li>
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item13.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">よくある質問</h3>
                        <p>採用に関するよくある質問はこちら</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li>
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item14.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">インターンシップ</h3>
                        <p>実際の仕事を体験し、やりがいに触れてください</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                </ul><!-- /.home-nav-list -->

            </div>
            
        </section><!-- /#home-02 -->

        <section id="home-03">

            <div class="home-tit-01 home-03-tit" uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300">
                <h2><p>C</p>OMPANY<span>企業情報</span></h>
            </div><!-- /.home-tit-01 -->

            <div class="uk-container">
                <ul class="home-nav-list home-03-list">
                    <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300">
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item15.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">会社概要</h3>
                        <p>セントラルロジコの会社概要･沿革</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 600">
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item16.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">代表あいさつ</h3>
                        <p>代表取締役からのメッセージ</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 900">
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item17.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">IT･セキュリティ体制</h3>
                        <p>安定と安全のIT情報管理システム 「3EWMS」を配備</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 1200">
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item18.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">安全の取り組み</h3>
                        <p>安心・安全・確実なサービス＜Gマーク取得＞</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                    <li uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 1500">
                        <figure>
                            <img src="cmscp/wp-content/themes/mymall/img/home/img-item19.jpg" alt="">
                        </figure>
                        <h3 class="com-link-01">環境への取り組み</h3>
                        <p>地球環境の保全と環境負荷低減を推進＜グリーン経営認証取得＞</p>
                        <a class="home-nav-link" href=""></a>
                    </li>
                </ul><!-- /.home-nav-list -->
            </div><!-- /.uk-container -->

        </section><!-- /#home-03 -->

        <section id="home-04" uk-scrollspy="cls:uk-animation-slide-bottom-small; delay: 300">
            <h2 class="home-tit-02"><span>INFO</span>RMATION<small>インフォメーション</small></h2>

            <div class="com-info-01 uk-container">
                <article class="infoItem">
                    <p>2018.11.20</p>
                    <span>トピックス</span>
                    <a class="com-info-link" href="">セントラルロジコ株式会社が物流Weekly5月29日号の物流ニュースに掲載されました</a></h4>
                </article>
                <article class="infoItem">
                    <p>2018.10.15</p>
                    <span>採用情報</span>
                    <a class="com-info-link" href="">8月1日(金) 〜8月7日(金) 夏季インターンシップ実施のお知らせ <高校生向け＞</a></h4>
                </article>
                <article class="infoItem">
                    <p>2018.10.05</p>
                    <span>トピックス</span>
                    <a class="com-info-link" href="">8月25日(金) 大規模災害を想定した危機管理演習を本社にて実施しました</a></h4>
                </article>
                <article class="infoItem">
                    <p>2018.09.20</p>
                    <span>トピックス</span>
                    <a class="com-info-link" href="">平成25年度～平成29年度 無事故優良事業所表彰を受賞しました < 交通事故防止の積極的な推進></a></h4>
                </article>
                <article class="infoItem">
                    <p>2018.09.15</p>
                    <span>お知らせ</span>
                    <a class="com-info-link" href="">8月20日(金) ホームページをリニューアルしました</a></h4>
                </article>
            </div><!-- /.com-info-01 -->

            <div class="home-04-link">
                <a class="com-link-01" href="">more</a>
                <ul class="com-link-02 uk-flex uk-flex-center">
                    <li><a href="https://www.facebook.com/CentralLogico/" target="_blank"><img src="cmscp/wp-content/themes/mymall/img/home/facebook-bnr.png" alt=""></a></li>
                    <li><a href="" target="_blank"><img src="cmscp/wp-content/themes/mymall/img/home/twitter-bnr.png" alt=""></a></li>
                </ul>
            </div><!-- /.home-03-link -->

        </section><!-- /#home-04 -->

        <!-- ▼contact================================================== -->
        <aside id="sub-contact" class="home-page" uk-scrollspy="cls:uk-animation-slide-bottom-small;">
            <ul class="uk-flex uk-flex-center com-sub-contact">
                <li>
                    <a href="tel:0120-47-2122" class="tel"><span class="com-btn-01">FreeDial</span>0120-89-5677</a>
                    <p>受付時間：月〜金 9:00〜18:00／休業日を除く</p>
                </li>
                <li>
                    <a class="link-sub-contact" href=""><span class="com-link-01">メールでのお問い合わせ</span></a>
                </li>
            </ul><!-- /.uk-grid -->
        </aside><!-- /.sub-contact -->
        <!-- ▲contact ================================================== -->

        <!-- ▼その他JS -->
        <script>
            $(document).ready(function () {
                $('.js-slider').slick({
                    infinite: true,
                    dots: false,
                    autoplay: true,
                    arrows: false,
                });
            });

            /* Fix display slide EI */
            var userAgent, ieReg, ie;
            userAgent = window.navigator.userAgent;
            ieReg = /msie|Trident.*rv[ :]*11\./gi;
            ie = ieReg.test(userAgent);

            if (ie) {
                $(".img-container").each(function () {
                    var $container = $(this),
                        imgUrl = $container.find("img").prop("src");
                    if (imgUrl) {
                        $container.css("backgroundImage", 'url(' + imgUrl + ')').addClass("custom-object-fit");
                    }
                });
            }
        </script>
        <!-- ▲その他JS -->

{{/content}}
{{/extend}}