{{#extend "default"}}
{{#content "main"}}

        <div class="page-tit-01">
            <h1>LOGISTICS<small>物流サービス</small></h1>
        </div><!-- /.page-tit-01 -->

        <div id="breadcrumb" class="uk-visible@m">
            <ul class="uk-breadcrumb">
                <li><a href="/logistics/">物流サービストップ</a></li>
                <li><a href="/warehouse/">保管サービス</a></li>
                <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
                <li><a href="/processing/">流通加工サービス</a></li>
                <li><a href="/transport/">輸送サービス</a></li>
                <li><a href="/base/">物流拠点</a></li>
                <li><a href="/price/">料金の目安</a></li>
            </ul>
        </div><!-- /#breadcrumb -->

        <section id="logistics-01">
            
            <div class="page-tit-02">
                <h2>物流ノウハウと自社システムによる<br>効率的な物流戦略をご提案</h2>
                <p class="uk-text-center">危険物･毒物劇物の保管サービス、輸送サービスを得意とし、業務の最適化・効率化を意識した戦略的なロジスティクス･ソリューションをご提案。<br> 物流＋αの付加価値を見い出し、ナンバーワンサービスを追求しています。</p>
            </div><!-- /.page-tit-02 -->

            <div class="uk-container">
                
                <ul class="com-list-01 uk-flex uk-flex-between uk-flex-wrap">
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/item01.jpg" alt=""></figure>
                        <h3 class="com-list-tit">WAREHOUSE</h3>
                        <span>保管サービス</span>
                        <p class="com-list-txt">独自の倉庫管理システム「3EWMS」による徹底した在庫管理と「3PL」サービスでフルサポート</p>
                        <a class="com-list-link" href=""></a>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/item02.jpg" alt=""></figure>
                        <h3 class="com-list-tit">HAZARDOUS</h3>
                        <span>危険物･毒物劇物保管サービス</span>
                        <p class="com-list-txt">「危険物倉庫」を県内2カ所に完備。専門知識とノウハウで危険物・毒物劇物を安全・適正に管理</p>
                        <a class="com-list-link" href=""></a>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/item03.jpg" alt=""></figure>
                        <h3 class="com-list-tit">PROCESSING</h3>
                        <span>流通加工サービス</span>
                        <p class="com-list-txt">商品の出荷形態に合わせた加工作業まで担い、お客様の物流トータルコスト削減をバックアップ</p>
                        <a class="com-list-link" href=""></a>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/item04.jpg" alt=""></figure>
                        <h3 class="com-list-tit">TRANSPORT</h3>
                        <span>輸送サービス</span>
                        <p class="com-list-txt">「安全を創る」をモットーに、専任ドライバーたちが質の高い輸送サービスを展開</p>
                        <a class="com-list-link" href=""></a>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/item05.jpg" alt=""></figure>
                        <h3 class="com-list-tit">LOGISTICS BASE</h3>
                        <span>物流拠点</span>
                        <p class="com-list-txt">関西、北陸、東海方面から抜群のアクセス環境を誇る滋賀県内に3カ所の物流センターを設置</p>
                        <a class="com-list-link" href=""></a>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/item06.jpg" alt=""></figure>
                        <h3 class="com-list-tit">PRICE</h3>
                        <span>料金の目安</span>
                        <p class="com-list-txt">倉庫に荷物を保管する場合の保管料・荷役料の計算方法と計算例を掲載</p>
                        <a class="com-list-link" href=""></a>
                    </li>
                </ul><!-- /.com-list-01 -->

            </div><!-- /.uk-container -->

        </section><!-- /#logistics-01 -->

    {{> contactlist}}

{{/content}}
{{/extend}}