{{#extend "default"}}
{{#content "main"}}

        <div class="page-tit-01 otsu">
            <h1>OTSU LOGISTICS BASE<small>大津配送センター</small></h1>
        </div><!-- /.page-tit-01 -->

        <div id="breadcrumb" class="uk-visible@m">
            <ul class="uk-breadcrumb">
                <li><a href="/logistics/">物流サービストップ</a></li>
                <li><a href="/warehouse/">保管サービス</a></li>
                <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
                <li><a href="/processing/">流通加工サービス</a></li>
                <li><a href="/transport/">輸送サービス</a></li>
                <li><a href="/base/">物流拠点</a></li>
                <li><a href="/price/">料金の目安</a></li>
            </ul>
        </div><!-- /#breadcrumb -->

        <section id="otsu-01">
            <div class="uk-container1">
        
                <div class="page-tit-02">
                    <h2>様々な形態の荷物に対応可能</h2>
                    <p>大津配送センターは倉庫内天井高7メートルを確保しており、背高品、体積品（かさばるもの）も十分に保管できるスペースがあります。普通品ならどのようなものでも保管可能です。直積み可能な寄託物なら保管効率もよく、物流コスト削減効果を得ることができます。</p>
                </div><!-- /.page-tit-02 -->

                <figure class="com-figure-02">
                    <img src="cmscp/wp-content/themes/mymall/img/logistics/base/otsu/main-01.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

                <div class="page-tit-03"><h3>倉庫概要</h3></div>
                <!-- /.page-tit-03 -->

                <ul class="info-list-01">
                    <li><span>所在地</span><p>〒520-2123 滋賀県大津市瀬田大江町13番20</p></li>
                    <li><span>TEL</span><p>077-544-3011</p></li>
                    <li><span>FAX</span><p>077-544-3740</p></li>
                    <li><span>E-mail</span><p>shinji.kurahashi@c-logico.co.jp</p></li>
                    <li><span>倉庫種類</span><p>普通倉庫</p></li>
                    <li><span>主要構造・階数</span><p>鉄骨造2階建</p></li>
                    <li><span>敷地面積</span><p>3,432㎡</p></li>
                    <li><span>普通倉庫面積</span><p>1,965.25㎡（595.53坪）</p></li>
                </ul>
        
            </div><!-- /.uk-container1 -->
        </section><!-- /#otsu-01 -->

        <section id="otsu-02">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>アクセス</h3></div>
                <!-- /.page-tit-03 -->
                <ul class="info-list-01">
                    <li><span>お車でお越しの場合</span><p>瀬田東ICから2km、 名神瀬田西ICから3km、新名神草津田上ICから3km</p></li>
                    <li><span>電車でお越しの場合</span><p>最寄り駅：JR東海道本線 瀬田駅(京都駅より17分)</p></li>
                </ul><!-- /.info-list-01 -->
            </div>

            <div class="com-echigawa-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3262.2336233963215!2d136.20571761564074!3d35.1507938803213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60017d805feeb481%3A0xa776cc526b00cbd0!2zNTMzLTUgVMWNZW5kxY0sIEFpc2jFjS1jaMWNLCBFY2hpLWd1biwgU2hpZ2Eta2VuIDUyOS0xMzI1LCBOaOG6rXQgQuG6o24!5e0!3m2!1svi!2s!4v1548729969313" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div><!-- /.com-echigawa-map -->

        </section><!-- /#otsu-02 -->

        <section id="otsu-03">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>設備概要</h3></div>
                <!-- /.page-tit-03 -->

                <ul class="com-list-03">
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/otsu/item-01.jpg" alt=""></figure>
                        <div>
                            <h4>荷捌場は全天候対応型の荷役環境で安心</h4>
                            <p>間口12メートル、奥行き50メートルを確保する荷捌場は、雨天時の入出荷業務でも荷物への雨ぬれの心配は不要です。荷捌場に入場した10トントラックが、両サイドのウイングを全開してもリフトによる荷役が可能です。荷物の積み降ろしもスピーディーに行えます。検品及び軽作業の場としても最適です。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/otsu/item-02.jpg" alt=""></figure>
                        <div>
                            <h4>間口の広い庫内出入り口</h4>
                            <p>庫内の出入り口は横幅4.5メートル、高さ5メートルと広い間口で、大型寄託物の入出荷に対応しています。倉庫内は天井高7メートルの大空間を確保しており、高さや体積などかさばる商品が保管できる、ゆとりあるスペースが特長です。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/otsu/item-03.jpg" alt=""></figure>
                        <div>
                            <h4>海上コンテナ貨物デバンニングプラットホーム</h4>
                            <p>海上コンテナ貨物のデバンニングが可能です。海上コンテナ貨物専用のフォークリフトを所有していますので、パレットに積載された貨物のデバンニングもスピーディーに行えます。作業時間の短縮と確かな技術力で、より効率的な物流サービスを実現しています。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/base/otsu/item-04.jpg" alt=""></figure>
                        <div>
                            <h4>セキュリティ体制</h4>
                            <p>庫及び事務所のセキュリティ対策は、24時間セコムセキュリティーシステムにより、お客様の大切な寄託物を安全に守り監視しています。</p>
                        </div>
                    </li>
                </ul>

            </div>
        </section><!-- /#otsu-03 -->

        {{> contactlist}}
        
{{/content}}
{{/extend}}