{{#extend "default"}}
{{#content "main"}}

        <div class="page-tit-01 price">
            <h1>PRICE<small>料金の目安</small></h1>
        </div><!-- /.page-tit-01 -->

        <div id="breadcrumb" class="uk-visible@m">
            <ul class="uk-breadcrumb">
                <li><a href="/logistics/">物流サービストップ</a></li>
                <li><a href="/warehouse/">保管サービス</a></li>
                <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
                <li><a href="/processing/">流通加工サービス</a></li>
                <li><a href="/transport/">輸送サービス</a></li>
                <li><a href="/base/">物流拠点</a></li>
                <li><a href="/price/">料金の目安</a></li>
            </ul>
        </div><!-- /#breadcrumb -->

        <section id="price-01">
            <div class="uk-container1">

                <div class="page-tit-02">
                    <h2>寄託物に掛かる費用について</h2>
                    <p class="uk-text-center">倉庫に荷物を保管する場合の保管料・荷役料の計算方法と、計算例を掲載しています。</p>
                </div><!-- /.page-tit-02 -->

                <div class="page-tit-03"><h3>保管料について</h3></div>
                <!-- /.page-tit-03 -->
                <p class="com-text-03">保管料とは、荷物を保管するにあたり必要なスペース、期間（時間）、管理の三要素に掛かる費用です。保管料の計算には、大きく分けて「個建て料金方式」「坪貸し料金方式」の2つの方法があります。</p>

                <div class="page-tit-04"><h4>個建て料金方式</h4></div>
                <!-- /.page-tit-04 -->
                <p class="com-text-03">寄託物1個単位に保管料単価を設定し、月間3期制に基づき計算します。</p>

                <div class="com-price-text">
                    <p>月間保管料 ＝ <br class="uk-hidden@s">（個建て保管料単価）×（保管積数）</p>
                </div><!-- /.com-price-text -->
                <p class="com-text-03">月間3期制とは1ヶ月を（前期）1日～10日、（中期）11日～20日、（後期）21日～末日に分けて算出する方式です。この期日を基に保管積数を計算します。</p>
                
                <div class="com-price-text">
                    <p>保管積数 ＝ <br class="uk-hidden@s"> 前月残数量 ＋ 10日残数量 ＋20日残数量 ＋ 当月入荷数量</p>
                </div><!-- /.com-price-text -->

                <div class="com-price-box">
                    <h4>【計算例】個建て料金方式で荷物を保管した場合の月間保管料</h4>
                    <hr>
                    <dl><dt>寄託物</dt><dd>ケース</dd></dl>
                    <dl><dt>保管料単価</dt><dd>1ケースにつき50円</dd></dl>
                    <dl><dt>数量</dt><dd>30ケース</dd></dl>
                    <dl><dt>保管期間</dt><dd>前月に残数がなく月初め（1日）に30ケースが入荷 ／ 当月の25日に30ケースが出荷→3期</dd></dl>
                    <span>保管積数 ＝ 90（0 + 30 + 30 + 30）</span>
                    <div class="com-price-text">
                        <p>月間保管料 ＝ <br class="uk-hidden@s"> 4,500円（50円×90）</p>
                    </div><!-- /.com-price-text -->
                    <ul>
                        <li>※上記保管料単価は、普通品、危険物、毒物劇物、保管条件、寄託価格等により変動します。</li>
                        <li>※1日の朝に荷物が入荷し1日（その日）の夕方に出荷した場合も積数は1になります。</li>
                        <li>※預けた日から10日間を1期と定義付けているものではありません。</li>
                    </ul>
                </div><!-- /.com-price-box -->

                <div class="page-tit-04"><h4>坪貸し料金方式</h4></div>
                <!-- /.page-tit-04 -->
                <p class="com-text-03">保管に必要な保管坪数（面積）を決めて1ヶ月単位で計算します。</p>

                <div class="com-price-text">
                    <p>月間保管料 ＝（保管坪数）×（坪単価）</p>
                </div><!-- /.com-price-text -->
                <p class="com-text-03">保管坪数（面積）での賃貸借契約になるため、寄託物1個単位（個建て保管料単価）の保管料設定は不要です。但し、荷役料（入出荷料）は別途必要になります。</p>
                <div class="com-price-box setmg">
                    <h4>【計算例】坪貸し料金方式で商品を保管した場合の月間保管料は？</h4>
                    <hr>
                    <dl><dt>保管坪数</dt><dd>300坪</dd></dl>
                    <dl><dt>坪単価</dt><dd>1ヶ月につき5,000円</dd></dl>
                    <div class="com-price-text">
                        <p>　月間保管料 ＝ <br class="uk-hidden@s"> 1,500,000円（300坪 × 5,000円）</p>
                    </div><!-- /.com-price-text -->
                    <ul>
                        <li>上記、保管坪数にはフォークリフト動線分も含みます。</li>
                    </ul>
                </div><!-- /.com-price-box -->

            </div><!-- /.uk-container1 -->
        </section><!-- /#price-01 -->

        <section id="price-02">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>荷役料について</h3></div>
                <!-- /.page-tit-03 -->
                <p class="com-text-03">荷役料とは倉庫に保管している荷物の入出荷作業に掛かる費用です。</p>
                <div class="com-price-text">
                    <p>月間荷役料 ＝ <br class="uk-hidden@s">（荷役料単価）×（荷役積数）</p>
                </div><!-- /.com-price-text -->
                <p class="com-text-03">荷役料とは倉庫に保管している荷物の入出荷作業に掛かる費用です。</p>

                <div class="com-price-text">
                    <p>荷役積数 ＝ <br class="uk-hidden@s"> 当月入荷数量 ＋ 当月出荷数量</p>
                </div><!-- /.com-price-text -->
                <p class="com-text-03">荷役料とは倉庫に保管している荷物の入出荷作業に掛かる費用です。</p>

                <div class="com-price-box">
                    <h4>【計算例】個建て、坪貸し料金方式で荷物を入荷、出荷した場合の荷役料</h4>
                    <hr>
                    <dl><dt>荷役物</dt><dd>ケース</dd></dl>
                    <dl><dt>荷役料単価</dt><dd>1ケースにつき50円</dd></dl>
                    <dl><dt>数量</dt><dd>30ケース</dd></dl>
                    <dl><dt>荷役回数</dt><dd>月初め（1日）に30ケースの入荷 ／ 当月25日に30ケースが出荷</dd></dl>
                    <span>荷役積数 ＝ 60（30+30）</span>
                    <div class="com-price-text">
                        <p>　月間荷役料 ＝ <br class="uk-hidden@s"> 3,000円（50円×60）</p>
                    </div><!-- /.com-price-text -->
                    <ul>
                        <li>※上記荷役料単価は、普通品、危険物、毒物劇物、保管条件、寄託価格等により変動します。</li>
                    </ul>
                </div><!-- /.com-price-box -->

            </div><!-- /.uk-container1 -->
        </section><!-- /#price-02 -->

        <section id="price-03">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>付帯作業について</h3></div>
                <!-- /.page-tit-03 -->
                <p class="com-text-03">寄託物が入荷～出荷する過程の中で発生する付帯作業（流通加工）については別途作業料が発生します。</p>
                <a class="com-link-01 com-link-01-mod" href="/processing/">流通加工サービス</a>

            </div><!-- /.uk-container1 -->
        </section><!-- /#price-03 -->

        {{> contactlist}}

{{/content}}
{{/extend}}
