{{#extend "default"}}
{{#content "main"}}

        <div class="page-tit-01 processing">
            <h1>LOGISTICS<small>物流サービス</small></h1>
        </div><!-- /.page-tit-01 -->

        <div id="breadcrumb" class="uk-visible@m">
            <ul class="uk-breadcrumb">
                <li><a href="/logistics/">物流サービストップ</a></li>
                <li><a href="/warehouse/">保管サービス</a></li>
                <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
                <li><a href="/processing/">流通加工サービス</a></li>
                <li><a href="/transport/">輸送サービス</a></li>
                <li><a href="/base/">物流拠点</a></li>
                <li><a href="/price/">料金の目安</a></li>
            </ul>
        </div><!-- /#breadcrumb -->

        <section id="processing-01">
            <div class="uk-container1">

                <div class="page-tit-02">
                    <h2>豊富なノウハウで商品に高い付加価値</h2>
                    <p>流通加工は、保管・輸送の前後に不可欠なものであり、この良否が物流品質に与える影響は多大なものがあります。弊社は、「自社従業員で作業する場合には時間と手間が掛かる」や、「作業スペースがない」、「加工する人員が確保できない」などの事業者様のさまざまなニーズに応える流通加工サービスをご提供します。</p>
                    
                    <p>事前に綿密なお客様との情報交換を基に作業を実施、業務開始後も荷主様と定期的に打ち合わせを行い、双方の相違点を無くして品質向上を目指します。また、弊社の従業員が作業しますので、常に一定した生産性と品質を保つことができます。</p>
                    
                    <p>さらに繁忙期・閑散期と波動性の高い荷主様はもちろん、スポット作業のみの荷主様に対しても日々の作業数に応じて、必要な作業員を準備することも可能です。</p>
                </div><!-- /.page-tit-02 -->

                <figure class="com-figure-02">
                    <img src="cmscp/wp-content/themes/mymall/img/logistics/processing/main-01.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

                <div class="page-tit-03"><h3>輸送コストを削減</h3></div>
                <!-- /.page-tit-03 -->
                <p class="com-text-03">工場で出来上がった未完成製品を別の加工会社に作業委託して倉庫保管する場合、通常、荷物を加工会社へ一旦輸送する費用と、加工後の完成品を倉庫まで輸送する費用が掛かります。しかし、弊社の流通加工サービスをご利用いただくと、流通加工会社までの輸送費は必要ありませんので、トータルコストの削減につながります。</p>
            
                <div class="com-text-04">
                    <h3>流通加工を委託するメリット</h3>
                    <p>1. 輸送費の削減 <br>
                    2. 事務処理費用の軽減<br>
                    3. 委託企業間のミスが減り時間短縮</p>
                </div><!-- /.com-text-04 -->

                <figure class="com-figure-02">
                    <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/logistics/processing/main-02.jpg" alt="">
                    <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/logistics/processing/main-02_s.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

            </div>
        </section><!-- /#processing-01 -->

        <section id="processing-02">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>輸送コストを削減</h3></div>
                <!-- /.page-tit-03 -->
                
                <div class="l-processing-02">

                    <div class="processing-02-left">
                        <div class="com-processing02-item">
                            <h4>○ 仕分け</h4>
                            <p>入荷品を仕分けして出荷します。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ 袋物詰替え</h4>
                            <p>小袋で入荷した寄託物を大袋へ詰替え出荷します（袋口止め作業も含む）。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ 入り数不足検品</h4>
                            <p>寄託物のラベル表示された入り数（重量）を計量器を使用し、実測に基づいた入り数を割り出す検品を行います。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ ラベル剥し</h4>
                            <p>寄託物に貼ってあるラベルを剥がします（指定ラベルへの貼りなおし前作業）。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ 荷札貼付</h4>
                            <p>混載便での出荷時に荷送人・届け先・荷受人等を記載した札を貼付ける作業。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ パレット積み替え</h4>
                            <p>納入先にパレットのサイズ・材質指定による出荷に対応します。</p>
                        </div>
                    </div><!-- /.processing-02-left -->

                    <div class="processing-02-right">
                        <div class="com-processing02-item">
                            <h4>○ 積み替え梱包</h4>
                            <p>大口ロット入荷製品を指定小口ロットに積み替え、梱包して出荷します。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ 検品</h4>
                            <p>ガラス製品、一斗缶、ドラム缶、ケース梱包など、さまざまな商品の検品を行います。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ ラベル貼付</h4>
                            <p>梱包製品へ指定ラベルを貼って出荷します。シールタイプ、ひも掛けタイプなど、さまざまなタイプでも対応可能です。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ ラベル貼替え</h4>
                            <p>入荷時に貼ってあるラベルを、指定ラベルへ貼り直して出荷します。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ 缶巻き</h4>
                            <p>一斗缶の輸送時に衝撃緩和用に使用されるダンボールパッキンによる梱包を行います。</p>
                        </div>
                        <div class="com-processing02-item">
                            <h4>○ 専用伝票作成等</h4>
                            <p>荷主様毎の専用伝票や納品書、送り状作成等の出力業務を行います。</p>
                        </div>
                    </div><!-- /.processing-02-right -->

                </div><!-- /.uk-container1 -->

            </div><!-- /.l-processing-02 -->

        </section><!-- /#processing-02 -->

        <section id="processing-03">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>流通加工サービスの注意点</h3></div>
                <!-- /.page-tit-03 -->
                <p class="com-text-03">弊社では、上記の実例のように多種多様な流通加工を行っています。しかし、すぐにこれらの業務を行える訳ではありません。ご依頼をいただいた流通加工に対しては、弊社も正しい商品知識・トレーニング・品質審査基準を明確にすることにより、さまざまな流通加工をサービスとして、安心してご提供することができます。</p>

            </div><!-- /.uk-container1 -->
        </section><!-- /#processing-03 -->

        {{> contact}}
        {{> contactlist}}

{{/content}}
{{/extend}}