{{#extend "default"}}
{{#content "main"}}

        <div class="page-tit-01 taransport">
            <h1>LOGISTICS<small>物流サービス</small></h1>
        </div><!-- /.page-tit-01 -->
        
        <div id="breadcrumb" class="uk-visible@m">
            <ul class="uk-breadcrumb">
                <li><a href="/logistics/">物流サービストップ</a></li>
                <li><a href="/warehouse/">保管サービス</a></li>
                <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
                <li><a href="/processing/">流通加工サービス</a></li>
                <li><a href="/transport/">輸送サービス</a></li>
                <li><a href="/base/">物流拠点</a></li>
                <li><a href="/price/">料金の目安</a></li>
            </ul>
        </div><!-- /#breadcrumb -->

        <section id="taransport-01">
            <div class="uk-container1">

                <div class="page-tit-02">
                    <h2>安全、迅速、正確な輸送サービス</h2>
                    <p>輸送業務は生産者とお客様を結ぶ、重要な橋渡し役といえます。弊社では、より質の高い輸送サービスを提供するため､安全に対する取り組みの強化と法令遵守を基本とし、業務遂行に努めています。</p>
                    <p>危険物･毒物劇物の輸送にも対応しています。危険物のノウハウを熟知したプロが荷主様のあらゆるニーズにお応えするために、きめ細かな配慮をもって「安全・迅速・確実」な輸送サービスをご提供します。</p>
                </div><!-- /.page-tit-02 -->

                <figure class="com-figure-02">
                    <img src="cmscp/wp-content/themes/mymall/img/logistics/taransport/main-01.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

                <div class="page-tit-03"><h3>保管一括輸送</h3></div>
                <!-- /.page-tit-03 -->
                <p class="com-text-03">保管一括輸送は、主に短距離間（工場等）輸送、ジャストインタイム輸送を目的とする場合に有効です。倉庫と自社トラックを保有しているからこそ、スピード対応が可能。面倒な車両手配を考える必要もなく、出荷先・出荷日・物量を考慮して、弊社が最適な手段で荷物を輸送します。</p>

            </div>
        </section><!-- /#taransport-01 -->

        <section id="taransport-02">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>共同輸送</h3></div>
                <!-- /.page-tit-03 -->
                <p class="com-text-03">共同輸送は、輸送車両（トラック1車）に複数のお客様宛荷物を混載して輸送するサービスです。滋賀県内でストックポイントとして保管、輸送を一括したアウトソーシングをご検討のお客様に、共同輸送サービスをお勧めします。地域別である程度まとまった荷物を対象に、輸送網を絞り込むことで輸送にかかるコスト削減効果が得られます。</p>                
                <figure class="com-figure-02">
                    <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/logistics/taransport/main-02.jpg" alt="">
                    <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/logistics/taransport/main-02_s.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

                <div class="page-tit-04"><h4>共同輸送システムサービスのメリット</h4></div>
                <!-- /.page-tit-04 -->
                <p class="com-text-03">
                    1. 既存の路線運送と違い、事故率が圧倒的に低い<br>
                    2. 余分な中継を無くすことで、高品質・低コストを実現<br>
                    3. 倉庫も併せて、問合わせが1本化されスピードアップ<br>
                    4. 当社独自のノウハウにより既存コストを大幅ダウン<br>
                    5. ドライバーや運送会社の違いによる品質低下がない<br>
                    6. 通常の貸切便、路線運送にもマルチに対応<br>
                    7. わかりやすい料金体系
                </p>

                <div class="page-tit-04"><h4>路線業者混載便輸送との違い</h4></div>
                <!-- /.page-tit-04 -->
                <p class="com-text-03">通常の路線業者による混載便は、荷物の集荷、発送店での仕分け、それにかかる荷物の積み込み、荷降ろし等が加わり、大幅な輸送リードタイムを考慮しなければなりません。また、集荷等で積み込み、荷降ろしの回数は合計6回にもおよび、その分だけ荷物にかかる破損リスクも高く確実性が低くなります。</p>
                <p class="com-text-03">弊社を共同輸送拠点としてご活用いいただく場合は、出荷にかかる積み込み、荷降ろしの荷扱いは2回と少なく、より“安心・安全・確実”に荷物をお届けすることが可能です。弊社の共同輸送サービスをご利用いただくことで、お客様の物流サービスの向上を目指します。</p>

            </div><!-- /.uk-container1 -->
        </section><!-- /#taransport-02 -->

        <section id="taransport-03">
            <div class="uk-container1">
                
                <div class="page-tit-03"><h3>輸送料金</h3></div>
                <!-- /.page-tit-04 -->
                <p class="com-text-03">貸切便では、車種、積載重量、配送距離等により異なります。一般的には積載重量に関連し、使用車両に応じて配送距離が長いほど高くなります。 弊社の輸送運賃はタリフを基準に運賃を算出しています。</p>
                
                <div class="com-text-04">
                    <h3>タリフとは</h3>
                    <p>国土交通省の「標準運賃表」に当るものをタリフと呼びます。「標準運賃表」はトンキロ【重量×距離】で計算されます。</p>
                </div><!-- /.com-text-04 -->

            </div><!-- /.uk-container1 -->
        </section><!-- /#taransport-03 -->

        <section id="taransport-04">
            <div class="uk-container1">
        
                <ul class="com-list-03">
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/taransport/item-01.jpg" alt=""></figure>
                        <div>
                            <h2>危険物･毒物劇物の配送にも対応</h2>
                            <p>危険物取扱資格（危険物乙種四類）を持ったドライバーが確実に輸送・注入作業を実施し、きめ細かな配慮をもって危険物･毒物劇物をお届けします。コンテナ・ドラム・一斗缶・袋製品など、多種多様な形状にも対応します。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/taransport/item-02.jpg" alt=""></figure>
                        <div>
                            <h2>安全を創る専任ドライバー</h2>
                            <p>お客様を結ぶ、重要な橋渡し役を担うのは、弊社自慢のSD（サ－ビスドライバー）です。お取り引き企業様からも評判が良く、専任SDとしてご指名も可能です。</p>
                            <a class="com-link-01 com-link-01-mod" href="">安全への取り組み</a>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/taransport/item-03.jpg" alt=""></figure>
                        <div>
                            <h2>安全への取り組み</h2>
                            <p>全日本トラック協会より「安全性優良事業所」に認定されています。認定マークは、高評価を得た貨物自動車運送事業所のみに与えられる“安全”の証です。</p>
                            <a class="com-link-01 com-link-01-mod" href="">安全への取り組み</a>
                        </div>
                    </li>
                </ul>
        
            </div>
        </section><!-- /#warehouse-04 -->

        <section id="taransport-05">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>緊急輸送サービス</h3></div>
                <!-- /.page-tit-03 -->
                <div class="page-tit-04"><h4>こんな状況で困っている方、まずは相談下さい</h4></div>
                <!-- /.page-tit-04 -->

                <p class="com-text-03 color-01">
                    どうしても今すぐに届けなければならない荷物がある<br>
                    依頼した運送会社の車両が故障して車両が必要<br>
                    とにかく車両が必要、誰か相談に乗ってほしい<br>
                    繁忙期で路線会社の残荷でどうしても翌日に届けてほしい<br>
                    土、日、祝日、ゴールデンウイーク、盆休日、年末年始の休日で運んでもらえる運送会社がない
                </p>

                <p class="com-text-03">貴社の緊急状況、積荷の仕様、条件を伺った上で弊社で対応可能な車両を探します。<br>
                ※問い合わせのタイミングにより、貴社のご要望に添えない場合もございます。</p>
                <p class="com-text-03">緊急輸送サービスのご相談、お問い合わせについては、FreeDialではなく、下記の「配車担当直通ダイヤル」または「E-mailアドレス」までお問い合わせ下さい。</p>

                <!-- ▼contact01================================================== -->
                <aside id="sub-contact01">
                    <div>
                        <p class="sub-contact01-text">配車担当直通ダイヤル</p>
                        <a class="tel01" href="tel:080-2446-2638">080-2446-2638</a>
                    </div>
                    <div>
                        <p class="sub-contact01-text">E-mail</p>
                        <p class="email01">shinji.kurahashi@c-logico.co.jp</p>
                    </div>
                </aside><!-- /.sub-contact -->
                <!-- ▲contact01 ================================================== -->

            </div><!-- /.uk-container1 -->
        </section><!-- /#taransport-05 -->

        {{> contact}}
        {{> contactlist}}

{{/content}}
{{/extend}}