{{#extend "default"}}
{{#content "main"}}

        <div class="page-tit-01 warehouse">
            <h1>warehouse<small>物流サービス</small></h1>
        </div><!-- /.page-tit-01 -->
        
        <div id="breadcrumb" class="uk-visible@m">
            <ul class="uk-breadcrumb">
                <li><a href="/logistics/">物流サービストップ</a></li>
                <li><a href="/warehouse/">保管サービス</a></li>
                <li><a href="/hazardous/">危険物･毒物劇物保管サービス</a></li>
                <li><a href="/processing/">流通加工サービス</a></li>
                <li><a href="/transport/">輸送サービス</a></li>
                <li><a href="/base/">物流拠点</a></li>
                <li><a href="/price/">料金の目安</a></li>
            </ul>
        </div><!-- /#breadcrumb -->

        <div id="warehouse-01">

            <div class="uk-container1">

                <div class="page-tit-02">
                    <h2>効率かつ高品質な物流のワンストップサービス</h2>
                    <p>保管業務は、生産と消費のタイムラグを調節し、需要と供給のバランスを保つ重要な側面を持つと同時に、お客様の貴重な寄託物を大切に取り扱わなければならず、万全な管理体制が求められています。</p>
                    <p>弊社では、多様な荷物に適した保管サービスを実現するため、普通倉庫だけでなく危険物・毒物劇物倉庫と冷蔵倉庫も所有しており、高付加価値なサービス提供が可能です。</p>
                </div><!-- /.page-tit-02 -->
                <div class="page-tit-02">
                    <h2>独自の倉庫管理システム「3EWMS」で<br>物流業務をフルサポート</h2>
                    <p>自社開発の倉庫管理システム「3EWMS」を使用して、定期的な棚卸しにより確実な在庫管理を行っています。弊社3拠点にまたがる寄託物についても、すべての拠点間をインターネットVPNのネットワーク構築化により、一括した保管と管理対応が可能です。また、寄託物の入出荷・在庫データは、リアルタイムかつスピーディーに情報をお届けすることができます。</p>
                </div><!-- /.page-tit-02 -->

                <figure class="com-figure-01">
                    <img src="cmscp/wp-content/themes/mymall/img/logistics/warehouse/main-01.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

            </div><!-- /.uk-container1 -->

        </div><!-- /#warehouse-01 -->

        <section id="warehouse-02">
            
            <div class="uk-container1">
                <div class="page-tit-03"><h3>3PLサービス</h3></div>
                <!-- /.page-tit-03 -->

                <p class="com-text-03">荷主企業様の業務効率化を目的に、倉庫の手配・調達をはじめ、保管・荷役・輸送といった物流業務全般をトータルで承ります。物流関連事業をお任せいただくことにより、荷主企業様は本来のコアビジネスに専念していただけるだけではなく、物流のわずらわしさから解放され、業務ミスなども軽減できて物流業務改善が実現できます。</p>
                <p class="com-text-03">数々の寄託物を扱ってきたからこそ培うことができた物流ノウハウを基に、効率のいい物流サービスをご提供します。</p>

                <figure class="com-figure-02">
                    <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/logistics/warehouse/main-02.jpg" alt="">
                    <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/logistics/warehouse/main-02_s.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

                <div class="page-tit-04"><h4>セントラルロジコの機能</h4></div>
                <!-- /.page-tit-04 -->

                <ul class="warehouse-navi-02 uk-flex uk-flex-middle uk-flex-between">
                    <li>輸送</li>
                    <li>保管</li>
                    <li>荷役</li>
                    <li>流通加工</li>
                    <li>梱包</li>
                    <li>情報</li>
                    <li>発注</li>
                </ul>
                <p class="com-text-03">＜在庫型センター＞ 入荷 → 検品 → 入庫 → 保管・在庫状況把握・発注 → ピッキング → 出庫 → 出荷<br>
                ＜通過型センター＞ 入荷 → 入庫 → 検品・仕分け → 出庫 → 出荷</p>
            </div><!-- /.uk-container1 -->

        </section><!-- /#warehouse-02 -->

        <section id="warehouse-03">
            <div class="uk-container1">

                <div class="page-tit-03"><h3>VMI調達物流</h3></div>
                <!-- /.page-tit-03 -->

                <p class="com-text-03">セットメーカー様の需要予測に基づいた部品供給を、物流面からサポートします。</p>
                <div class="page-tit-04"><h4>VMI（ベンダー寄託倉庫）とは</h4></div>
                <!-- /.page-tit-04 -->

                <p class="com-text-03">ベンダー様に所有権（在庫責任）がある部品を、セットメーカー様のジャスト・イン・タイム（JIT）納入要求に対応できるように、セットメーカー様の隣接場所に在庫する物流機能です。ベンダー様はセットメーカー様の需要状態を把握して必要に応じて在庫を補充する必要があり、情報把握が重要なポイントになります。　※VMI=Vendor Management Inventoryの略</p>
                <figure class="com-figure-02">
                    <img class="uk-visible@s" src="cmscp/wp-content/themes/mymall/img/logistics/warehouse/main-03.jpg" alt="">
                    <img class="uk-hidden@s" src="cmscp/wp-content/themes/mymall/img/logistics/warehouse/main-03_s.jpg" alt="">
                </figure><!-- /.com-figure-01 -->

                <div class="page-tit-04"><h4>セントラルロジコが果たすVMI機能</h4></div>
                <!-- /.page-tit-04 -->
                <p class="com-text-03">ベンダー様が所有権（在庫責任）を有する部材を弊社配送センター（VMI倉庫）に在庫保管します。メーカー様の納入指示に従い、保管部材の出荷、輸送を行い、生産ラインの状況に合わせ、ベンダー様に代わってJIT納品します。</p>
                <p class="com-text-03">在庫情報・出荷情報は倉庫管理システム「3EWMS」で出力した情報によりリアルタイムに提供を行い、メーカー様・ベンダー様・当社間で情報の共有化を実現します。納品形態に応じた流通加工にも対応します。</p>

                <a class="com-link-01 com-link-01-mod" href="">流通加工サービス</a>

                <div class="page-tit-04"><h4>ベンダー様のメリット</h4></div>
                <!-- /.page-tit-04 -->
                <p class="com-text-03">
                    1. 頻繁な納品業務、在庫管理業務からの解放 <br>
                    2. まとめ輸送による物流コスト削減<br>
                    3. 部品保管スペースの削減<br>
                    4. 不良品等による返品受入れがスムーズに対応可能（返品による輸送リードタイム短縮、物流コスト削減）
                </p>

                <div class="page-tit-04"><h4>メーカー様のメリット</h4></div>
                <!-- /.page-tit-04 -->
                <p class="com-text-03">
                    1. 在庫管理業務からの解放及び荷役作業員の削減<br>
                    2. 部品在庫の削減及び保管スペースの削減<br>
                    3. 調達リードタイムの短縮
                </p>

            </div><!-- /.uk-container1 -->
        </section><!-- /#warehouse-03 -->

        <section id="warehouse-04">
            <div class="uk-container1">

                <ul class="com-list-03">
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/warehouse/item-01.jpg" alt=""></figure>
                        <div>
                            <h4>物流業務を幅広くサポート</h4>
                            <p>顧客毎に自社開発の倉庫管理システムを構築し、物流をトータルサポートします。<br>
                                マイクロソフト社のオフィスソフト操作対応可能な事務スタッフが各種伝票・帳票類の発行を行います。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/warehouse/item-02.jpg" alt=""></figure>
                        <div>
                            <h4>海上コンテナ貨物輸入時の細かいチェックに対応</h4>
                            <p>海上コンテナ貨物輸入時には、様々なトラブルが発生します。弊社では、そのトラブルを迅速にお客様へ報告するため、検品作業、封印確認、ラベル違いなど徹底したチェックを行います。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/warehouse/item-03.jpg" alt=""></figure>
                        <div>
                            <h4>セキュリティー対策</h4>
                            <p>倉庫及び事務所のセキュリティ対策は、24時間セコムセキュリティーシステムにより、お客様の大切な寄託物を安全に守り監視しています。さらに事務所では高い認証精度を誇る静脈認証を導入済みで、最新のシステムをいち早く活用して安全性を高めています。</p>
                        </div>
                    </li>
                    <li>
                        <figure><img src="cmscp/wp-content/themes/mymall/img/logistics/warehouse/item-04.jpg" alt=""></figure>
                        <div>
                            <h4>環境への取り組み</h4>
                            <p>国土交通省の外郭団体である交通エコロジー・モビリティ財団より「グリーン経営認証」を受けています。また、NOx法に適合した車両で業務を行っています。</p>
                            <a class="com-link-01 com-link-01-mod" href="/environment/">流通加工サービス</a>
                        </div>
                    </li>
                </ul><!-- /.com-list-03 -->

            </div>
        </section><!-- /#warehouse-04 -->

        {{> contact}}
        {{> contactlist}}

{{/content}}
{{/extend}}