
<ul class="com-list-02 uk-flex uk-flex-wrap" uk-scrollspy="cls:uk-animation-slide-bottom-small;">
    <li>
        <figure><img src="cmscp/wp-content/themes/mymall/img/common/item-list01.jpg" alt=""></figure>
        <h3 class="com-list-tit">WAREHOUSE<span>保管サービス</span></h3>
        <a class="com-list-link" href=""></a>
    </li>
    <li>
        <figure><img src="cmscp/wp-content/themes/mymall/img/common/item-list02.jpg" alt=""></figure>
        <h3 class="com-list-tit">HAZARDOUS<span>危険物･毒物劇物保管 <br> サービス</span></h3>
        <a class="com-list-link" href=""></a>
    </li>
    <li>
        <figure><img src="cmscp/wp-content/themes/mymall/img/common/item-list03.jpg" alt=""></figure>
        <h3 class="com-list-tit">PROCESSING<span>保管サービス</span></h3>
        <a class="com-list-link" href=""></a>
    </li>
    <li>
        <figure><img src="cmscp/wp-content/themes/mymall/img/common/item-list04.jpg" alt=""></figure>
        <h3 class="com-list-tit">TRANSPORT<span>保管サービス</span></h3>
        <a class="com-list-link" href=""></a>
    </li>
    <li>
        <figure><img src="cmscp/wp-content/themes/mymall/img/common/item-list05.jpg" alt=""></figure>
        <h3 class="com-list-tit">LOGISTICS BASE<span>保管サービス</span></h3>
        <a class="com-list-link" href=""></a>
    </li>
    <li>
        <figure><img src="cmscp/wp-content/themes/mymall/img/common/item-list06.jpg" alt=""></figure>
        <h3 class="com-list-tit">PRICE<span>保管サービス</span></h3>
        <a class="com-list-link" href=""></a>
    </li>
</ul><!-- /.com-list-02 -->