
<!-- ▼contact================================================== -->
<aside id="sub-contact" uk-scrollspy="cls:uk-animation-slide-bottom-small;">
    <p class="sub-contact-text">保管サービスをお探しの事業者様は、当社までお問い合わせ下さい</p>
    <ul class="uk-flex uk-flex-center com-sub-contact">
        <li>
            <a href="tel:0120-47-2122" class="tel"><span class="com-btn-01">FreeDial</span>0120-89-5677</a>
            <p>受付時間：月〜金 9:00〜18:00／休業日を除く</p>
        </li>
        <li>
            <a class="link-sub-contact" href=""><span class="com-link-01">メールでのお問い合わせ</span></a>
        </li>
    </ul><!-- /.uk-grid -->
</aside><!-- /.sub-contact -->
<!-- ▲contact ================================================== -->
