<!-- ▼footer ================================================== -->
<footer id="footer">
    <div id="footer-logo">
        <p><img src="cmscp/wp-content/themes/mymall/img/common/footer/logo.svg" alt=""></p>
    </div>
    
    <div class="footer-connect uk-flex uk-container">
        <div>
            <h4>本社</h4>
            <p>滋賀県大津市瀬田大江町13番20<br>
            TEL：077-544-2121<span>/</span>
            FAX：077-544-2116</p>
        </div>
        <div>
            <h4>愛知川配送センター</h4>
            <p>滋賀県愛知郡愛荘町東円堂533番地5<br>
            TEL：0749-49-5677<span>/</span>
            FAX：0749-49-5688</p>
        </div>
        <div>
            <h4>五個荘配送センター</h4>
            <p>滋賀県東近江市五個荘簗瀬町4番地9<br>
            TEL：0748-48-5066<span>/</span>
            FAX：0748-48-5067</p>
        </div>
        <div>
            <h4>大津配送センター</h4>
            <p>滋賀県大津市瀬田大江町13番20<br>
            TEL：077-544-3011<span>/</span>
            FAX：077-544-3740</p>
        </div>
    </div>
    
    <div class="l-nav">
        <nav class="footer-nav-01 uk-flex uk-flex-center uk-visible@m">
            <ul class="footer-navi-list">
                <li class="footer-nav-tit">ホーム</li>
                <li><a href="">インフォメーション</a></li>
                <li><a href="">お問合せ</a></li>
            </ul>
            <ul class="footer-navi-list">
                <li class="footer-nav-tit">物流サービス</li>
                <li><a href="">保管サービス</a></li>
                <li><a href="">危険物・毒物劇物保管サービス</a></li>
                <li><a href="">流通加工サービス</a></li>
                <li><a href="">輸送サービス</a></li>
                <li><a href="">物流拠点</a></li>
                <li><a href="">料金の目安</a></li>
            </ul>
            <ul class="footer-navi-list">
                <li class="footer-nav-tit">企業情報</li>
                <li><a href="">会社概要</a></li>
                <li><a href="">代表あいさつ</a></li>
                <li><a href="">IT・セキュリティ体制</a></li>
                <li><a href="">安全の取り組み</a></li>
                <li><a href="">環境への取り組み</a></li>
                <li><a href="">プライバシーポリシー</a></li>
            </ul>
            <ul class="footer-navi-list">
                <li class="footer-nav-tit">採用情報</li>
                <li><a href="">メッセージ</a></li>
                <li><a href="">私たちの仕事</a></li>
                <li><a href="">キャリアアップ</a></li>
                <li><a href="">先輩社員の仕事紹介</a></li>
                <li><a href="">よくある質問</a></li>
                <li><a href="">インターンシップ</a></li>
                <li><a href="">募集要項</a></li>
                <li><a href="">エントリー</a></li>
            </ul>
        </nav>
    </div>

    <a href="#pagetop" class="footer-backtop-btn" uk-scroll><img src="cmscp/wp-content/themes/mymall/img/common/footer/btn_backtop.svg" alt=""></a>
    <small id="copyright">Copyright 2018 CENTRAL LOGICO Co., Ltd. All Rights Reserved.</small>
</footer>
<!-- ▲footer ================================================== -->

<!-- ▼offcanvas menu ============================== -->
<div id="offcanvas" class="uk-offcanvas" data-uk-offcanvas="flip: true; overlay: true">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">

    <ul class="uk-nav-offcanvas" data-uk-nav="{multiple:true}">
        <li class="uk-nav-header">MENU</li>
        <li><a href="">ホーム</a></li>
        <li class="uk-parent" aria-expanded="true">
            <a href="#">物流サービス</a>
            <ul class="uk-nav-sub">
                <li><a href="">物流サービストップ</a></li>
                <li><a href="">保管サービス</a></li>
                <li><a href="">危険物・毒物劇物保管サービス</a></li>
                <li><a href="">流通加工サービス</a></li>
                <li><a href="">輸送サービス</a></li>
                <li><a href="">物流拠点</a></li>
                <li><a href="">愛知川配送センター</a></li>
                <li><a href="">五個荘配送センター</a></li>
                <li><a href="">大津配送センター</a></li>
                <li><a href="">料金の目安</a></li>
            </ul>
        </li>
        <li class="uk-parent" aria-expanded="true">
            <a href="#">企業情報</a>
            <ul class="uk-nav-sub">
                <li><a href="">企業情報トップ</a></li>
                <li><a href="">会社概要</a></li>
                <li><a href="">代表あいさつ</a></li>
                <li><a href="">IT・セキュリティ体制</a></li>
                <li><a href="">安全の取り組み</a></li>
                <li><a href="">環境への取り組み</a></li>
                <li><a href="">プライバシーポリシー</a></li>
            </ul>
        </li>
        <li class="uk-parent" aria-expanded="true">
            <a href="#">採用情報</a>
            <ul class="uk-nav-sub">
                <li><a href="">採用情報トップ</a></li>
                <li><a href="">メッセージ</a></li>
                <li><a href="">私たちの仕事</a></li>
                <li><a href="">キャリアアップ</a></li>
                <li><a href="">先輩社員の仕事紹介</a></li>
                <li><a href="">S.F.さん</a></li>
                <li><a href="">S.S.さん</a></li>
                <li><a href="">M.K.さん</a></li>
                <li><a href="">よくある質問</a></li>
                <li><a href="">インターンシップ</a></li>
            </ul>
        </li>
        <li><a href="">お問合せ</a></li>
        <li><a href="">インフォメーション</a></li>
    </ul>

    <ul class="link-canvas-icon">
        <li><a href="https://www.facebook.com/CentralLogico/"><img src="cmscp/wp-content/themes/mymall/img/common/parts/facebook.svg" alt="">Facebook</a></li>
        <li><a href=""><img src="cmscp/wp-content/themes/mymall/img/common/parts/twitter.svg" alt="">twitter</a></li>
    </ul>

  </div><!-- /.uk-offcanvas-bar -->
</div><!-- /#offcanvas -->
<!-- ▲offcanvas menu ============================== -->


<!-- ▼JS ================================================== -->
<script src="cmscp/wp-content/themes/mymall/js/plugins.js"></script>
<!-- ▼レスポンシブ用クリッカブル▼ -->
<script src="cmscp/wp-content/themes/mymall/js/jquery.rwdImageMaps.min.js"></script>
<script src="cmscp/wp-content/themes/mymall/js/slick.min.js"></script>
<script>
  $(document).ready(function (e) {
    $('img[usemap]').rwdImageMaps();
  });
</script>
<!-- ▲レスポンシブ用クリッカブル▲ -->