<!-- ▼header================================================== -->
<header id="header" class="uk-flex uk-flex-middle uk-flex-center">
    <div class="uk-flex uk-flex-between uk-flex-middle" id="header-top">
        <h1 id="header-logo">
            <a href="/">
                <img class="uk-pc" src="cmscp/wp-content/themes/mymall/img/common/parts/logo.svg" alt="">
                <img class="uk-sp" src="cmscp/wp-content/themes/mymall/img/common/parts/logo_w.svg" alt="">
            </a>
        </h1>
        <nav id="gnav" class="uk-visible@m">
            <ul class="uk-flex">
                <li><a href="/"><span>ホーム</span><small>HOME</small></a></li>
                <li><a href="/logistics/"><span>物流サービス</span><small>LOGISTICS</small></a></li>
                <li><a href="/company/"><span>企業情報</span><small>COMPANY</small></a></li>
                <li><a href="/contact/"><span>お問合せ</span><small>CONTACT</small></a></li>
                <li class="uk-visible@m"><a href="/recruit" class="com-btn-email"><span>採用情報</span><small>RECRUIT</small></a></li>
            </ul>
        </nav><!-- /#gnav -->
    </div>
    <ul class="nav-sub uk-flex">
        <li class="uk-hidden@m"><button class="header-btn-01" type="button" uk-toggle="target: #offcanvas"><img src="cmscp/wp-content/themes/mymall/img/common/parts/btn_menu.svg"></button></li>
    </ul><!-- /#header-contact -->
</header>
<!-- ▲header ================================================== -->